.additional_detail_image {
    width: 100%;
    height: 100%;
    border-radius: 31px;
    cursor: pointer;
}

.additional-kit-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

.additional-kit-item,
.additional-kit-item-mobile {
    background: #1A1A1A;
    border-radius: 15px;
    padding: 15px;
    color: white;
    flex: 1 1; 
}
.additional-kit-item:nth-child(3n+1) {
    flex: 1 1 auto;
}

.additional-kit-item:nth-child(3n+2) {
    flex: 1 1 auto;
}

.additional-kit-container-mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width: 992px) {
    .additional-button-row {
        gap: 5px
    }
    .additional-kit-item-mobile {
        padding: 10px;
    }
    .additional-kit-item-mobile:nth-child(3n+1) {
        flex: 1 1 30%;
    }
    .additional-kit-item-mobile:nth-child(3n+2) {
        flex: 1 1 60%;
    }
}
