SECRET_KEY='SECRET_KEY'
TELEGRAM_BOT_API_KEY = 'YOUR_TELEGRAM_BOT_API_KEY'
TELEGRAM_USER_ID = 'YOUR_TELEGRAM_USER_ID'
DEBUG_MODE="True"

# Email settings (SMTP)
EMAIL_HOST = 'smtp.yourserver.ru'
EMAIL_PORT = 587
EMAIL_HOST_USER = 'your_email@yourserver.ru'
EMAIL_HOST_PASSWORD = 'your_email_password'
EMAIL_USE_TLS = True
EMAIL_RECIPIENT = 'recipient_email@domain.ru'
