# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Виртуальные окружения
venv/
.env/
.envrc
# или если используете poetry
poetry.lock
*.venv

# Django
.db.sqlite3
db.sqlite3
*.sqlite3
# Настройки локальной среды
/local_settings.py

# Логи
*.log

# IDE и редакторы
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Документация
/epub/
/*.egg-info

# сборки
/dist/
/build/
.eggs/

# Другие
.secret_key
*.bak
*.swp
*~ 

# 환경ные переменные (если есть)
.env
db.sqlite3

media/product_images/additional/IMG_5545_BOyllfz.jpg
media/product_images/additional/IMG_5553_aSeZqFk.jpg
media/product_images/additional/IMG_5566_fwplBmr.jpg
media/product_images/additional/IMG_5572_BKP63IR.jpg
media/product_images/additional/IMG_5573_RwLxtBN.jpg
media/products/Баллиста_ZhfpNB3.jpg
media/product_images/additional/IMG_5545_LjryDh8.jpg
media/product_images/additional/IMG_5553_6QYwTAj.jpg
media/product_images/additional/IMG_5566_kdIWdQJ.jpg
media/product_images/additional/IMG_5572_79WIoDi.jpg
media/product_images/additional/IMG_5573_KT0uDvg.jpg
media/products/Баллиста_WMkYeJo.jpg
