/* карусель продуктов */
.product_card_image {
  width: 100%;
  height: 25rem;
  border-radius: 31px;
}
.swiper:not(.rental-swiper) {
  position: relative;
  overflow: hidden;
}

.swiper::before,
.swiper::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15rem;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.swiper::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.swiper::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
.swiper-slide {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  width: calc(100% / 3);
}
.swiper-button-prev,
.swiper-button-next {
  display: none;
}
.swiper-button-prev {
  margin-left: 10px;
}
.swiper-button-next {
  margin-right: 10px;
}

.news_card_image {
  width: 22rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 31px;
}

.news-card-button {
  width: 50%;
  height: auto;
  background-color: rgba(248, 128, 5, 1);
  color: rgba(33, 33, 33, 1);
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  font-family: 'Unbounded', sans-serif;
  font-weight: 400;
  padding: 7px;
  margin-top: 10px;
}

.arend-card {
  background: rgba(248, 128, 5, 1);
  width: 100%;
  height: auto;
  padding: 2rem;
  border-radius: 35.3px;
  color: white;
  transition: transform 0.3s ease;
  position: relative;
}

/* Альтернативный стиль для карточек аренды на главной странице */
.arend-card.style-2 {
  background: white;
}

/* Стили для описания в альтернативном стиле */
.arend-card.style-2 .arend-card-description {
  color: black;
}

@media (max-width: 1200px) {
  .product_card_image {
    height: 20rem;
  }
}

/* Мобильные стили для каруселей */
@media (max-width: 992px) {
    .product_card_image {
    width: 18rem;
    height: 18rem;
    border-radius: 15px;
  }
  /* Затемнение по бокам каруселей (кроме аренды) для мобильной версии */
  .swiper:not(.rental-swiper) {
    position: relative;
    overflow: hidden;
  }
    /* Затемнение по бокам каруселей (кроме аренды) для мобильной версии */
  .swiper:not(.rental-swiper)::before,
  .swiper:not(.rental-swiper)::after {
    width: 5rem;
  }
  .rental-swiper::before,
  .rental-swiper::after {
    display: none;
  }

}

@media (max-width: 930px) {
    .product_card_image {
      width: 15rem;
    height: 15rem;
  }
}

@media (max-width: 780px) {
    .product_card_image {
    width: 12rem;
    height: 12rem;
  }
}

@media (max-width: 640px) {
    .product_card_image {
    width: 12rem;
    height: 12rem;
  }
}
@media (max-width: 515px) {
    .product_card_image {
    width: 10rem;
    height: 10rem;
  }
}

@media (max-width: 435px) {
    .product_card_image {
    width: 8rem;
    height: 8rem;
  }
}
