.swiper-button-prev,
.swiper-button-next {
  color: #000; /* цвет стрелок */
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,0.7);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.swiper-button-prev {
  left: 10px;
}
.swiper-button-next {
  right: 10px;
}