/* карусель продуктов */
.product_card_image,
.news_card_image {
  width: 100%;
  height: auto;
  border-radius: 31px;
}
.swiper:not(.rental-swiper) {
  position: relative;
  overflow: hidden;
}

.swiper::before,
.swiper::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15rem;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.swiper::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.swiper::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
.swiper-slide {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  width: calc(100% / 3);
}
.swiper-button-prev,
.swiper-button-next {
  display: none;
}
.swiper-button-prev {
  margin-left: 10px;
}
.swiper-button-next {
  margin-right: 10px;
}

.news-card-button {
  width: auto;
  height: auto;
  background-color: rgba(248, 128, 5, 1);
  border-radius: 10px;
  border: none;
  padding: 7px;
  margin-top: 10px;
}

.arend-card {
  background: rgba(248, 128, 5, 1);
  width: 100%;
  height: auto;
  padding: 2rem;
  border-radius: 35.3px;
  color: white;
  transition: transform 0.3s ease;
  position: relative;
}

/* Альтернативный стиль для карточек аренды на главной странице */
.arend-card.style-2 {
  background: white;
}

/* Стили для описания в альтернативном стиле */
.arend-card.style-2 .arend-card-description {
  color: black;
}

/* Мобильные стили для каруселей */
@media (max-width: 992px) {
    .product_card_image,
    .news_card_image {
    border-radius: 15px;
  }
  /* Затемнение по бокам каруселей (кроме аренды) для мобильной версии */
  .swiper:not(.rental-swiper, .product-main-swiper-mobile) {
    position: relative;
    overflow: hidden;
  }

    /* Затемнение по бокам каруселей (кроме аренды и доп товаров) для мобильной версии */
  .swiper:not(.rental-swiper, .product-main-swiper-mobile)::before,
  .swiper:not(.rental-swiper, product-main-swiper-mobile)::after {
    width: 5rem;
  }
  .rental-swiper::before,
  .rental-swiper::after,
  .product-main-swiper-mobile::before,
  .product-main-swiper-mobile::after {
    display: none;
  }
}