/* карусель продуктов */
.product_card_image,
.arend_card_image {
  width: 25rem; 
  height: 25rem; 
  border-radius: 31px;
}

.swiper-slide {
  flex: 1 0 auto;
  display: flex;
  justify-content: center; 
  width: calc(100% / 3); 
}
.swiper-button-prev,
.swiper-button-next {
  display: none;
}

