/* карусель продуктов */
.product_card_image,
.arend_card_image {
  width: 25rem; 
  height: 25rem; 
  border-radius: 31px;
}

.swiper-slide {
  flex: 1 0 auto;
  display: flex;
  justify-content: center; 
  width: calc(100% / 3); 
}
.swiper-button-prev,
.swiper-button-next {
  background-image: none ;
  width: 50px;
  height: 50px;
  background-size: contain ;
  background-repeat: no-repeat ;
  background-position: center ;
}

.swiper-button-prev {
  background-image: url('/media/photo/left_photo.jpg');
}

.swiper-button-next {
  background-image: url('/media/photo/right_photo.png');
}

.news_card_image {
  width: 25.5rem; 
  height: 18rem; 
  object-fit: cover;
  border-radius: 31px;
}

.news-card-button {
  width: 50%;
  height: auto;
  background-color: rgba(248, 128, 5, 1);
  color: rgba(33, 33, 33, 1);
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  font-family: 'Unbounded', sans-serif;
  font-weight: 400;
  padding: 7px;
  margin-top: 10px;
}
