body {
    background: rgba(0, 0, 0, 1);
}

/* Стили для цен со скидками */
.original-price,
.landing-original-price,
.modal-original-price,
.catalog-original-price,
.product-detail-original-price,
.rental-catalog-original-price {
    text-decoration: line-through;
    color: #888;
    font-family: 'Unbounded', sans-serif;
    margin-right: 8px;
    font-size: 1rem;
}

.discounted-price,
.landing-discounted-price,
.modal-discounted-price,
.catalog-discounted-price,
.rental-catalog-discounted-price {
    color: #e63946;
    font-family: 'Unbounded', sans-serif;
    color: #e63946;
    font-family: 'Unbounded', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Общий класс для блока со скидками */
.discount-block {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (max-width: 1400px) {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 100% !important;
    }
}

/* Стили для плашки скидки на фото товара */
.discount-badge,
.discount-badge-2 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(247, 55, 5, 1);
    color: white;
    margin: 15px;
    padding: 5px 5px 5px 10px;
    border-radius: 10px;
    font-size: 1rem;
    z-index: 10;
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Unbounded', sans-serif;
}
.discount-badge-2 {
    margin: -10px;
}


/* Альтернативный стиль для карточек аренды - более специфичный и заметный */
div.game-card-rental.style-2 {
    background: white;
}
/* Стили для описания в альтернативном стиле */
div.game-card-rental.style-2 p.arend-card-description {
    color: black;
}   
/* Альтернативный стиль для карточек аренды - более специфичный и заметный */
div.game-card-rental.style-2 {
    background: white;
}

/* Стили для описания в альтернативном стиле */
div.game-card-rental.style-2 p.arend-card-description {
    color: black;
}
