body {
    background: rgba(0, 0, 0, 1);
}

/* Переопределение стилей Bootstrap для контейнера */
@media (max-width: 1400px) {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 100% !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
