.icon_landing {
    width: 7rem;
}

/* Бургер-меню стили */
.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1000;
}

.burger-menu span {
    width: 2rem;
    height: 0.25rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: all 0.3s ease;
}

.logo-link {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.burger-menu {
    position: relative;
    z-index: 1001;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}


/* Анимация для бургер-иконки */
.burger-menu.toggle .line1 {
    transform: rotate(45deg);
}

.burger-menu.toggle .line2 {
    opacity: 0;
}

.burger-menu.toggle .line3 {
    transform: rotate(-45deg);
}

/* Стили для мобильного меню */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 999;
    display: none;
}

.mobile-menu.active {
    transform: translateX(0);
    display: flex;
}

.mobile-menu a {
    font-size: 1.5rem;
    color: white;
    margin: 1rem 0;
}


@media (max-width: 992px) {
    .burger-menu {
        display: flex;
    }
    .mobile-menu .social-links {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 0px;
        width: 100%;
    }
    .menu-container {
        flex-wrap: wrap;
    }

    .nav-links {
        display: none;
    }

    .desktop-only {
        display: none;
    }

    .mobile-menu {
        display: flex;
    }

    .social-links {
        gap: 0rem;
    }
}
