/* Стили для карусели продукта */
.product-carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.news-carousel-item {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-carousel-item img {
  max-width: 100%;
  max-height: 80vh;
  width: auto;
  height: auto;
  border-radius: 20px;
  object-fit: contain;
}
