.title_h {
    text-align: center;
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 3.8rem;
}
.wood_h {
    color: rgba(248, 128, 5, 1);
}
.game_count_text {
    font-family: 'Mont' , sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
.block-title {
    margin-top: 1rem;
    font-family: 'Unbounded' , sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}
.block-text {
    margin-top: 10px;
    font-family: 'Unbounded' , sans-serif;
    font-size: 1rem;
    font-weight: 100;
    color: rgba(255, 255, 255, 1);
}
.game_catalog_h,
.rental_catalog_landing_h,
.contact_catalog_h,
.news_catalog_h {
    font-family: 'Unbounded' , sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-align: start !important;
}

.product-card-title {
    font-family: 'Unbounded' , sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-top: 2rem;
}
.product-card-price {
    font-family: 'Mont' , sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}

.contact_link {
    font-family: 'Unbounded' , sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}
.contact_link a {
    font-family: 'Unbounded' , sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}
.center-block_h {
    font-family: 'Unbounded' , sans-serif;
    font-size: 2.8rem;
    font-weight: 400;
    color: black;
}
.center-block_text {
    font-family: 'Unbounded' , sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: black;
}




/* о нас  */
.about_h {
    font-family: 'Unbounded' , sans-serif;
    font-size: 8.2rem;
    font-weight: 600;
    color: white;
}
.about_block {
    font-family: 'Unbounded' , sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 20px;
    margin-top: 20px;
    text-align: justify;
    color: rgba(255, 255, 255, 1);
}

.about_block_h {
    font-family: 'Unbounded' , sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.about_block_text {
    font-family: 'Unbounded' , sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 20px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 1);
}

.about_block_h {
    font-family: 'Unbounded' , sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: white;
    margin-top: 20px;
}

.news-card-title {
    font-family: 'Unbounded' , sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    margin-top: 1.5rem;
}



/* каталог игр */
/* для placeholder */
select.form-control {
    color: white !important;
    font-family: 'Unbounded' , sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 20px;
}
.form-control::-webkit-input-placeholder {
    color: white !important;
    font-family: 'Unbounded' , sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 20px;
}

.product_card_name {
    color: white;
    font-family: 'Unbounded' , sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-left: 1rem;
}
.product_card_price {
    color: white;
    font-family: 'Unbounded' , sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    margin-left: 1rem;
}
.no_result_h {
    color: white;
    font-family: 'Unbounded' , sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1.5rem;
}


/* детали товара */
.highlighted-text {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
    line-height: 1.2;
}

.normal-text {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    line-height: 1.2;
}
.button {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
}
.info-block {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}
.product_detail_name {
    color: rgba(248, 128, 5, 1);
    font-family: 'Unbounded', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.product_detail_description {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 1rem;
}
.product_detail_set {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 3rem;
}

.product_detail_price {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 7rem;
}

/* каталог аренды */
.rental_catalog_h {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 3.8rem;
}
.rental_catalog_p {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
}

.rental_text {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: -1rem;
}
.wood_p {
    color: rgba(248, 128, 5, 1);
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}
.rental_recomendation_h {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0px;
}

h3 {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    margin-top: 1rem;
}
.guest_count_h {
    color: rgba(248, 128, 5, 1);
    font-family: 'Unbounded', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    margin-top: 1rem;
    margin-right: 2rem;
}


/* модальное окно для заказа */
.modal-title {
    color: white;
    text-align: start;
    font-family: 'Unbounded', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
.modal-content label {
    color: rgba(248, 128, 5, 1);
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.modal-title-section {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.submit-button {
     color: black;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

h4 {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}
.game-price {
    color: white;
    font-family: 'Mont', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

.arend-card-title {
    color: black;
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    font-size: 2rem;
}
.arend-card-description {
    color: black !important;
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}
.arend-card-price {
    color: black;
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
