<div class="container mt-3">
  <div class='row d-flex justify-content-center align-items-center'>
    <div class='col-2'>
      <a href="{% url 'landing' %}"><img src="/media/icon/icon_landing.png" alt="" class='icon_landing'></a>
    </div>
    <div class='col-2'>
      <a href="{% url 'about' %}" class='menu-text'>О нас</a>
    </div>
    <div class='col-2'>
      <a href="#" class='menu-text'>Каталог игр</a>
    </div>
    <div class='col-2'>
      <a href="#" class='menu-text'>Аренда</a>
    </div>
    <div class='col-2'>
      <a href="#" class='menu-text'>Доставка</a>
    </div>
    <div class='col-2'>
      <a href="#" class='menu-text'>Контакты</a>
    </div>
  </div>
</div>