{% load custom_filters %}
<div id="orderModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <h2 class="modal-title">ОФОРМИТЬ ЗАКАЗ</h2>

    <form id="orderForm" method="post" action="/process_order/" onsubmit="return submitOrder(event)">
      {% csrf_token %}

      <div id="form-error" class="error-message" style="text-align: center; font-weight: bold; margin-bottom: 20px;"></div>

      <!-- Основные поля -->
      <div class="form-group">
        <input type="text" id="name" name="name" placeholder="Имя" required>
        <div id="name-error" class="error-message">Пожалуйста, введите ваше имя</div>
      </div>

      <div class="form-group">
        <input type="tel" id="phone" name="phone" placeholder="Номер телефона" required>
        <div id="phone-error" class="error-message">Пожалуйста, введите корректный номер телефона</div>
      </div>

      <div class="form-group">
        <label for="order-type">Что вас заинтересовало?</label>
          <select id="order-type" name="order_type" onchange="toggleOrderType(this.value)" required>
            <option value="">Выберите тип заказа</option>
            <option value="buy">Купить игру</option>
            <option value="double_buy">Купить 2 игры на одной доске</option>
            <option value="rent">Арендовать игру</option>
          </select>
        <div id="order-type-error" class="error-message">Пожалуйста, выберите тип заказа</div>
      </div>

      <!-- Секция покупки -->
      <div id="buy-section" class="order-section" style="display: none;">
        <h3 class="modal-title-section">Выбор игр для покупки</h3>

        <div class="row modal-row" id="buy-games-container">
          <!-- Игры будут загружены динамически -->
          {% for product in products %}
          <div class="col-md-4 col-6">
            <div class="game-card-modal">
              <div class="game-checkbox">
                <input type="checkbox" name="selected_game" value="{{ product.id }}" data-price="{{ product.get_discounted_price }}">
              </div>
              <img src="{{ product.image.url }}" alt="{{ product.name }}">
              <div class="game-info">
                <h4>{{ product.name }}</h4>
                <p class="game-price">
                  {% with discounted_price=product.get_discounted_price %}
                    {% if discounted_price != product.price %}
<span class="modal-discounted-price">{{ discounted_price|format_price }} руб.</span>
<span class="modal-original-price">{{ product.price|format_price }} руб.</span>
                    {% else %}
                      {{ product.price|format_price }} руб.
                    {% endif %}
                  {% endwith %}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <h3 class="modal-title-section">Дополнительные товары</h3>
        <div class="row modal-row" id="additional-goods-container">
          <!-- Дополнительные товары будут загружены динамически -->
          {% for additional in additional_products %}
          <div class="col-md-4 col-6">
            <div class="game-card-modal">
              <div class="game-checkbox">
                <input type="checkbox" name="selected_good" value="{{ additional.id }}" data-price="{{ additional.get_discounted_price }}">
              </div>
              <img src="{{ additional.image.url }}" alt="{{ additional.name }}">
              <div class="game-info">
                <h4>{{ additional.name }}</h4>
                <p class="game-price">
                  {% with discounted_price=additional.get_discounted_price %}
                    {% if discounted_price != additional.price %}
<span class="modal-discounted-price">{{ additional_product.price_prefix|default_if_none:"" }} {{ discounted_price|format_price }} руб.</span>
<span class="modal-original-price">{{ additional_product.price_prefix|default_if_none:"" }} {{ additional.price|format_price }} руб.</span>
                    {% else %}
                      {{ additional_product.price_prefix|default_if_none:"" }} {{ additional.price|format_price }} руб.
                    {% endif %}
                  {% endwith %}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="form-group">
          <label for="engraving">Нужна гравировка?</label>
          <select id="engraving" name="engraving">
            <option value="no">Нет</option>
            <option value="yes">Да</option>
          </select>
        </div>

        <div class="form-group">
          <label for="delivery-address">Адрес доставки</label>
          <input type="text" id="delivery-address" name="delivery_address">
          <div id="address-error" class="error-message">Пожалуйста, введите адрес доставки</div>
        </div>
      </div>

      <!-- Секция аренды -->
        <div id="rent-section" class="order-section" style="display: none;">
          <div class="form-group">
            <label for="order-type">Количество игр</label>
            <select id="rent-options" name="rent_type" onchange="updateRentLimits()">
              <option value="">Количество игр</option>
              {% for arenda in arenda %}
                <option value="{{ arenda.id }}" data-game-count="{{ arenda.game_count }}" data-price="{{ arenda.price }}" data-is-specific="{{ arenda.is_specific_game }}" data-specific-game="{{ arenda.specific_game.id|default:'' }}">
                  {{ arenda.name }} -
                  {% with discounted_price=arenda.get_discounted_price %}
                    {% if discounted_price != arenda.price %}
                      <span class="rent-discounted-price">{{ discounted_price|format_price }} руб.</span>
                    {% else %}
                      {{ arenda.price|format_price }} руб.
                    {% endif %}
                  {% endwith %}
                </option>
              {% endfor %}
            </select>
            <div id="rent-options-error" class="error-message">Пожалуйста, выберите тип аренды</div>
          </div>

        <h3 class="modal-title-section">Выбор игр для аренды</h3>

        <div class="row modal-row" id="rent-games-container">
          <!-- Игры для аренды будут загружены динамически -->
          {% for product in products %}
          <div class="col-md-4 col-6">
            <div class="game-card-modal" data-game-id="{{ product.id }}">
              <div class="game-checkbox">
                <input type="checkbox" name="selected_rent_game" value="{{ product.id }}">
              </div>
              <img src="{{ product.image.url }}" alt="{{ product.name }}">
              <div class="game-info">
                <h4>{{ product.name }}</h4>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="form-group">
          <label for="order-type">Выберете дату</label>
          <input type="date" id="rent-date" name="rent_date">
          <div id="date-error" class="error-message">Пожалуйста, выберите дату аренды</div>
        </div>

        <div class="form-group">
          <label for="order-type">Адрес доставки</label>
          <input type="text" id="rent-address" name="rent_address">
          <div id="rent-address-error" class="error-message">Пожалуйста, введите адрес доставки</div>
        </div>

        <div class="form-group">
          <textarea id="comment" name="comment" rows="3" placeholder="Комментарий"></textarea>
        </div>
      </div>

      <div id="order-summary" class="order-summary">
        <h3 class="modal-total-price">Итого к оплате: <span id="total-price">0</span> руб.</h3>
      </div>

      <button type="submit" id="submit-btn" class="submit-button">ОФОРМИТЬ ЗАКАЗ</button>
    </form>
  </div>
</div>

<!-- Модальное окно поздравления -->
<div id="successModal" class="success-modal">
  <div class="success-modal-content">
    <span class="success-close" onclick="closeSuccessModal()">&times;</span>
    <div class="success-icon"><img src="/media/icon/success_icon.png" alt=""></div>
    <h2 class="success-title">Заказ оформлен!</h2>
    <p class="success-message">Мы уже приняли его в работу. </p>
    <p class="success-message">Скоро свяжемся с вами для уточнения деталей</p>
    <button class="success-ok-button" onclick="closeSuccessModal()">ХОРОШО</button>
  </div>
</div>
