.about_block ul {
  padding-left: 20px;
}

.video_1 {
    width: 100%;
    height: 18.5rem;
    border-radius: 31px;
}

.video_2 {
    width: 100%;
    height: 30rem;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 31px;
    padding-top: 0 !important;
    padding: 20px;
    background-color: rgba(26, 26, 26, 1);
}

.row .col-md-3:nth-child(2) .card {
    background-color: rgba(248, 128, 5, 1);
    color: rgba(26, 26, 26, 1);
}

.row .col-md-3:nth-child(2) .card .about_block_text,
.row .col-md-3:nth-child(2) .card .about_block_h {
    color: rgba(26, 26, 26, 1);
}

/* Мобильная версия */
@media (max-width: 767px) {
    .row.gap-3.justify-content-center[style*='flex-wrap: nowrap'] {
        flex-wrap: wrap !important;
    }

    .row.gap-3.justify-content-center[style*='flex-wrap: nowrap'] > div {
        width: 100% !important;
        margin-bottom: 20px;
    }

    .video_2 {
        display: none;
    }
}
