.about_block ul {
  padding-left: 20px;
}

.video_1 {
    width: 100%;
    height: 18.5rem;
    border-radius: 31px;
}

.video_2 {
    width: 100%;
    height: 30rem;
}

.card {
    width: 100%;
    height: 12rem;
    border-radius: 31px;
    padding: 10px;
    margin: 0;
    background-color: rgba(26, 26, 26, 1);
}

.row .col-md-2:nth-child(2) .card {
    background-color: rgba(248, 128, 5, 1);
    color: rgba(26, 26, 26, 1);
}

.row .col-md-2:nth-child(2) .card .about_block_text,
.row .col-md-2:nth-child(2) .card .about_block_h {
    color: rgba(26, 26, 26, 1);
}

/* Мобильная версия */
@media (max-width: 992px) {
    .row.gap-3.justify-content-center[style*='flex-wrap: nowrap'] {
        flex-wrap: wrap !important;
    }

    .row.gap-3.justify-content-center[style*='flex-wrap: nowrap'] > div {
        width: 100% !important;
        margin-bottom: 20px;
    }
    .video_2 {
        display: none;
    }
        /* Стили для блоков с карточками */
    .row.g-4 {
        flex-wrap: wrap;
    }
    .card {
        width: auto;
        height: 100%;
        border-radius: 11.69px;
    }
    .card-body {
        padding: 8px;
    }
    .block-2,
    .block-3 {
        flex-basis: calc(40% - 5px);
        max-width: calc(40% - 5px);
    }

    .block-1,
    .block-4 {
        flex-basis: calc(60% + 5px);
        max-width: calc(60% + 5px);
    }
    
}
