.additional_detail_image {
    width: 100%;
    height: 100%;
    border-radius: 31px;
    cursor: pointer;
}

.additional-kit-item {
    background: #1A1A1A;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    color: white;
    width: 100%;
}

@media (max-width: 768px) {
.additional-button-row {
    gap: 5px
}
}