.additional_detail_image {
    width: 100%;
    height: 100%;
    border-radius: 31px;
    cursor: pointer;
}

.additional-kit-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Добавьте промежуток между элементами, если нужно */
}

.additional-kit-item {
    background: #1A1A1A;
    border-radius: 15px;
    padding: 15px;
    color: white;
    flex: 1 1; 
}
.additional-kit-item-mobile {
    background: #1A1A1A;
    border-radius: 15px;
    padding: 15px;
    color: white;
    flex: 1 1; 
}
.additional-kit-item:nth-child(3n+1) {
    flex: 1 1 auto;
}

.additional-kit-item:nth-child(3n+2) {
    flex: 1 1 auto;
}
@media (max-width: 768px) {
    .additional-button-row {
        gap: 5px
    }
    .additional-kit-item-mobile:nth-child(3n+1) {
        flex: 1 1 20rem;
    }
    .additional-kit-item-mobile:nth-child(3n+2) {
        flex: 1 1 50%;
    }
}
