.form-control {
    background: rgba(59, 55, 55, 1);
    border: none;
    height: auto;
    color: white !important;
    padding-bottom: 5px;
    opacity: 0.7;
    font-family: 'Mont', sans-serif;
}
.form-control:active {
    background: rgba(59, 55, 55, 1);
    border: none;
    color: white !important;
}
.form-control:focus {
    background: rgba(59, 55, 55, 1);
}
.search-input:focus, .filter-select:focus {
outline: none;
box-shadow: none;
border-color: #ced4da;
}

.custom-select {
    background: black;
}
.custom-select:active {
    background: black;
}
.custom-select:focus {
    background: rgba(33, 33, 33, 1);
}

