.form-control {
    background: rgba(59, 55, 55, 1);
    border: none;
    height: auto;
    color: white !important;
    padding-bottom: 5px;
    opacity: 0.7;
    font-family: 'Mont', sans-serif;
}
select.form-control {
    height: 35px;
}
.form-control:active {
    background: rgba(59, 55, 55, 1);
    border: none;
    color: white !important;
}
.form-control:focus {
    background: rgba(59, 55, 55, 1);
}
.search-input:focus, .filter-select:focus {
outline: none;
box-shadow: none;
border-color: #ced4da;
}

.custom-select {
    background: black;
    opacity: 1;
}
.custom-select:active {
    background: black;
}
.custom-select:focus {
    background: rgba(33, 33, 33, 1);
}

.game_catalog_card {
    width: 95%;
    height: auto;
    object-fit: cover;
    border-radius: 22.66px;
}
.no_result_img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 22.66px;
}

.product_card_button {
    width: 95%;
    background: rgba(248, 128, 5, 1);
    padding: 10px;
    border-radius: 11.99px;
    color: black;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    display: block;
}


.filter-select option {
    padding: 10px; /* Установите нужное вам значение отступа */
}

@media (max-width: 992px) {
    .game_catalog_card {
        border-radius: 10.51px;
    }
}