.landing-container {
    width: 90%;
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-wrap: wrap;         
}
.left_photo {
    width: 27rem;
    height: auto;
    border-radius: 31px;
}
.right_photo {
    width: 100%;
    height: auto;
}
.catalog_game_icon {
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 20rem;
    z-index: 10;
}
.arend_icon {
    width: 20rem;
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
}
.flex-fill {
    border: none !important;
    background: rgba(26, 26, 26, 1);
    height: 9.8rem;
    width: 8rem;
    padding: 25px !important;
    border-radius: 33px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Unbounded', sans-serif;
    font-size: 1.5rem;
}
.flex-fill:nth-child(2) {
    background: rgba(248, 128, 5, 1);
    color: rgba(33, 33, 33, 1);
}

.block-img {
    width: 7rem;
    height: auto;
}

/* Блок с двумя блоками в строку */
.row-blocks {
  display: flex;
  justify-content: center; 
  gap: 3rem;
  margin-bottom: 20px;
}

/* Стандартный стиль контактов */
.contact-block {
  background-color: rgba(26, 26, 26, 1); 
  padding-top: 2.3rem;
padding-left: 2.7rem;
  border-radius: 33px;
  width: 100%;
}

/* Центрированный блок */
.center-block {
  background-color: rgba(248, 128, 5, 1);
  padding: 3rem;
  border-radius: 33px;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
}

.contact_icon_link {
    margin-right: 1rem;
}

.center-block_button {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(33, 33, 33, 1);
    border: none;
    padding: 10px 20px;
    border-radius: 20.45px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    font-family: 'Unbounded' , sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}
