.landing-container {
    width: 90%;
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-wrap: wrap;         
}
.left_photo {
    width: 27rem;
    height: auto;
    border-radius: 31px;
}
.right_photo {
    width: 100%;
    height: auto;
}
.catalog_game_icon {
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 20rem;
    z-index: 10;
}
.arend_icon {
    width: 20rem;
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
}
.flex-fill {
    border: none !important;
    background: rgba(26, 26, 26, 1);
    height: 9.8rem;
    width: 8rem;
    padding: 25px !important;
    border-radius: 33px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Unbounded', sans-serif;
    font-size: 1.5rem;
}
.flex-fill:nth-child(2) {
    background: rgba(248, 128, 5, 1);
    color: rgba(33, 33, 33, 1);
}

.block-img {
    width: 7rem;
    height: auto;
}