.product_detail_image {
    width: 100%;
    height: 100%;
    border-radius: 31px;
}   
.additional_images {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}


.kit-container {
    display: grid;
    grid-gap: 10px; 
    justify-items: stretch; 
}

.kit-item {
    background: #1A1A1A;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    color: white;
}


.kit-item:nth-child(-n+3) {
    grid-row-start: 1; 
}

/* Размер второго ряда */
.kit-item:nth-child(n+4) {
    grid-row-start: 2; 
}

/* Дополнительные настройки ширины */
.kit-item:nth-child(1) {
    grid-column-end: span 2;
}

.kit-item:nth-child(2),
.kit-item:nth-child(3) {
    grid-column-end: span 1; 
}

.kit-item:nth-child(4) {
    grid-column-end: span 2; 
}

.kit-item:nth-child(5) {
    grid-column-end: span 2; 
}

.kit-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}


