.product_detail_image {
    width: 100%;
    height: auto;
    border-radius: 31px;
}   
.additional_images {
    width: 5.5rem;
    height: 6rem;
    border-radius: 15px;
    margin-bottom: 2.1rem;
}
.product_detail_image_list {
    width: 95%;
    height: 18rem;
    object-fit: cover;
    border-radius: 22.66px;
}
.kit-container {
    display: grid;
    grid-gap: 10px; 
    justify-items: stretch; 
}

.kit-item {
    background: #1A1A1A;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    color: white;
}


.kit-item:nth-child(-n+3) {
    grid-row-start: 1; 
}

/* Размер второго ряда */
.kit-item:nth-child(n+4) {
    grid-row-start: 2; 
}

/* Дополнительные настройки ширины */
.kit-item:nth-child(1) {
    grid-column-end: span 2;
}

.kit-item:nth-child(2),
.kit-item:nth-child(3) {
    grid-column-end: span 1; 
}

.kit-item:nth-child(4) {
    grid-column-end: span 2; 
}

.kit-item:nth-child(5) {
    grid-column-end: span 2; 
}

.kit-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}


.product_detail_button {
    width: 100%;
    height: 4rem;
    border-radius: 10px;
    background-color: rgba(248, 128, 5, 1);
    color: rgba(33, 33, 33, 1);
    border: none;
    font-size: 1.5rem;
    font-family: 'Unbounded' , sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.button-container {
display: flex;
justify-content: space-between;
padding: 20px;
gap: 20px;
width: 100%;
}
.button {
width: 25rem !important;
flex: 1;
padding: 15px 20px;
color: white;
border: none;
background: rgba(33, 33, 33, 1);
border-radius: 13px;
cursor: pointer;
}
.button:nth-child(1) {
margin-left: -1.3rem;
}
.button:nth-child(4) {
margin-right: -1.3rem;
}    
.button:hover {
background-color: rgba(33, 33, 33, 1);
}
.info-block {
width: 100%;
padding: 20px;
border-radius: 13px;
background-color: rgba(33, 33, 33, 1);
display: none;
}
.arrow_accorderon {
    margin-left: 5px;
}