.row {
    margin-top: -40px;
}   
/* для белого инпута с гстями */
#guestValueDisplay {
    width: 10rem;
    border-radius: 10px;
    background: white;
    height: 40px !important;
    text-align: center;
    color: black;
    font-size: 1.3rem;
    margin-top: 10px;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    padding: 5px;
}

/* стили для подписи под ползунком  */
.slider-container {
    position: relative;
    margin-bottom: 20px;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}



.slider-label-start {
    text-align: left;
}

.slider-label-end {
    text-align: right;
}

/* стили для видео */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Соотношение сторон 16:9 */
    height: 0;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 46px;
    background-color: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
}

/* стили для ползунка */
.form-range {
    appearance: none;
    width: 100%;
    height: 10px;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    margin: 15px 0;
}
.form-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #F88005 var(--value, 0%), #E0E0E0 var(--value, 0%));
    border-radius: 5px;
}

.form-range::-moz-range-track {
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #F88005 var(--value, 0%), #E0E0E0 var(--value, 0%));
    border-radius: 5px;
}

.form-range::-webkit-slider-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #F88005;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
}

.form-range::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background-color: #F88005;
    border-radius: 50%;
    cursor: pointer;
}


.rental_recomendation {
    /* выравнивание текст а по вертикали */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}


.game-card-rental {
    background: rgba(248, 128, 5, 1);
    width: auto;
    height: auto;
    padding: 2rem;
    border-radius: 35.3px;
    display: flex;
    align-items: center;
    flex-direction: column; 
    margin: 0 auto; 
    color: white;
    transition: transform 0.3s ease;
}
@media (max-width: 992px) {
    .form-range {
        width: 95%;
        margin: 0 auto;
    }
}

@media (max-width: 1150px) {
      .custom-col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px;
  }
}
