.row {
    margin-top: -40px;
}
/* для белого инпута с гстями */
#guestValueDisplay {
    width: 10rem;
    border-radius: 10px;
    background: white;
    height: 40px !important;
    text-align: center;
    color: black;
    font-size: 1.3rem;
    margin-top: 10px;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    padding: 5px;
}

/* стили для подписи под ползунком  */
.slider-container {
    position: relative;
    margin-bottom: 20px;
}
.slider-label-start,
.slider-label-end {
    font-size: 25px !important;
}
.slider-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.slider-label {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.slider-label-start {
    text-align: left;
}

.slider-label-end {
    text-align: right;
}

/* стили для ползунка */
.form-range {
    appearance: none;
    width: 100%;
    height: 10px;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    margin: 15px 0;
}
.form-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #F88005 var(--value, 0%), #E0E0E0 var(--value, 0%));
    border-radius: 5px;
}

.form-range::-moz-range-track {
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #F88005 var(--value, 0%), #E0E0E0 var(--value, 0%));
    border-radius: 5px;
}

.form-range::-webkit-slider-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #F88005;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
}

.form-range::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background-color: #F88005;
    border-radius: 50%;
    cursor: pointer;
}

#guestCounts {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-top: 20px !important;
    margin-left: 0;
}

.rental_recomendation {
    /* выравнивание текст а по вертикали */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}