.video_title {
    width: 100%;
    height: 45rem;
}

.advantage-block {
    background: rgba(33, 33, 33, 1);
    padding: 20px;
}

.advantage-block-2 {
    background: rgba(33, 33, 33, 1);
    padding: 20px;
}

.container-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.block1 {
    width: 30rem;
    grid-column: 1 / 2;
    background-color: rgba(33, 33, 33, 1);
    padding: 15px;
    border-radius: 13px;
}

.block2 {
    grid-column: 1 / 2;
    background-color: rgba(248, 128, 5, 1);
    padding: 15px;
        border-radius: 13px;
}

.block3 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-color: rgba(33, 33, 33, 1);
    padding: 15px;
        border-radius: 13px;
}

.container-block-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
    gap: 10px;
    
}
.block {
    background: rgba(33, 33, 33, 1);
    border-radius: 13px;
    padding: 15px;
}