.video_title {
    width: 100%;
    height: 50rem;
    margin: 0 auto;
}

.advantage-block {
    background: rgba(33, 33, 33, 1);
    padding: 20px;
}

.advantage-block-2 {
    background: rgba(33, 33, 33, 1);
    padding: 20px;
}

.container-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.block1 {
    width: 100%;
    grid-column: 1 / 2;
    background-color: rgba(33, 33, 33, 1);
    padding: 15px;
    border-radius: 13px;
}

.block2 {
    width: 100%;
    grid-column: 1 / 2;
    background-color: rgba(248, 128, 5, 1);
    padding: 15px;
    border-radius: 13px;
}

.block3 {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-color: rgba(33, 33, 33, 1);
    padding: 15px;
    border-radius: 13px;
}

.container-block-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; /* Изменено на auto */
    gap: 10px;
}

.block {
    background: rgba(33, 33, 33, 1);
    border-radius: 13px;
    padding: 25px;
    position: relative;
}

.opacity_h {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 10rem !important;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.block-h {
    position: relative;
    z-index: 2;
}

.block-p {
    position: relative;
    z-index: 2;
}

a.button_1_1 {
    color: rgba(33, 33, 33, 1) !important;
    font-family: 'Unbounded', sans-serif;
    font-size: 1.5rem;
}

.button_1 {
    background-color: rgba(248, 128, 5, 1);
    color: rgba(33, 33, 33, 1);
    border: none;
    padding: 10px 20px;
    border-radius: 20.45px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}

.button_2 {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    padding: 10px 20px;
    border-radius: 20.45px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}

.left_button {
    text-align: center;
    background: rgba(33, 33, 33, 1);
    border-radius: 33px;
    padding: 20px;
}

.right_button {
    text-align: center;
    background: rgba(248, 128, 5, 1);
    border-radius: 33px;
    padding: 20px;
}

@media (max-width: 1400px) {
    .block {
        padding: 35px;
    }
}
@media (max-width: 992px) {
    .container-block {
        display: flex;
        flex-direction: column;
    }

    .block1, .block2, .block3 {
        width: 100%;
        padding: 20px;
    }

    .container-block-2 {
        grid-template-columns: 1fr;
    }

    .block {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .block1, .block2, .block3 {
        padding: 15px;
    }
}

@media (max-width: 576px) {
    .block1, .block2, .block3 {
        padding: 10px;
    }
}