{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}Катлог игр{% endblock title %}
{% block content %}
<form id="filter-form" method="get">
  <div class="container container-menu-catalog mt-5">
    <div class="row mt-5 ms-auto">
      <div class="col-md-6 col-12">
        <h1 class='game_catalog_h'>КАТАЛОГ ИГР</h1>
      </div>
      <div class="col-12 col-md-3 search-container">
        <div style="position: relative;">
          <input type="text" name="search" class="form-control search-input" placeholder="Поиск" value="{{ request.GET.search }}" style='color: white; padding-right: 30px;'>
          <img src="/media/icon/lupa.png" alt="Поиск" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); width: 20px; height: 20px; cursor: pointer;" onclick="document.querySelector('form').submit()">
        </div>
      </div>
      <div class="col-12 col-md-3 search-container">
        <select name="sort" class="form-control filter-select" onchange="this.form.submit()">
          <option value="">Порядок по:</option>
          <option value="price_asc" {% if request.GET.sort == 'price_asc' %}selected{% endif %}>Цена по возрастанию</option>
          <option value="price_desc" {% if request.GET.sort == 'price_desc' %}selected{% endif %}>Цена по убыванию</option>
          <option value="name_asc" {% if request.GET.sort == 'name_asc' %}selected{% endif %}>Название (А-Я)</option>
          <option value="name_desc" {% if request.GET.sort == 'name_desc' %}selected{% endif %}>Название (Я-А)</option>
        </select>
      </div>
    </div>
  </div>

<div class='container container-menu-catalog'>
  <div class="row mt-4 filter-row">
    <div class="col-auto filter-col">
      <select name="size" class="form-control filter-select custom-select" onchange="this.form.submit()">
        <option value="">Размер</option>
        {% for size in sizes %}
          <option value="{{ size.name }}" {% if request.GET.size == size.name %}selected{% endif %}>{{ size.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-auto filter-col">
      <select name="players" class="form-control filter-select custom-select" onchange="this.form.submit()">
        <option value="">Количество игроков</option>
        {% for player_count in player_counts %}
          <option value="{{ player_count.count }}" {% if request.GET.players == player_count.count|stringformat:"s" %}selected{% endif %}>{{ player_count.count }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-auto filter-col">
      <select name="age" class="form-control filter-select custom-select" onchange="this.form.submit()">
        <option value="">Возраст игроков</option>
        {% for player_age in player_ages %}
          <option value="{{ player_age.age }}" {% if request.GET.age == player_age.age %}selected{% endif %}>{{ player_age.age }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-auto filter-col">
      <select name="type" class="form-control filter-select custom-select" onchange="this.form.submit()">
        <option value="">Вид игры</option>
        {% for game_type in game_types %}
          <option value="{{ game_type.name }}" {% if request.GET.type == game_type.name %}selected{% endif %}>{{ game_type.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

  <div class='container mt-1'>
    <div class='row mt-1 game_catalog_row'>
      {% if products %}
        {% for product in products %}
  <div class='col-6 col-xxl-3 col-lg-4 game_catalog_grid'>
  <div class="game-card" style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="game_catalog_card">
    <h1 class='product_card_name'>{{ product.name }}</h1>
    <p class="product_card_price">
      {% with discounted_price=product.get_discounted_price %}
        {% if discounted_price != product.price %}
          <span class="catalog-discounted-price">{{ discounted_price|format_price }} руб.</span>
          <span class="catalog-original-price">{{ product.price|format_price }} руб.</span>
        {% else %}
          {{ product.price|format_price }} руб.
        {% endif %}
      {% endwith %}
    </p>
    <a href="{% url 'product_detail' product.id %}" class="product_card_button">ПОДРОБНЕЕ</a>
  </div>
</div>
        {% endfor %}
      {% else %}
        <div class="col-12 text-center">
          <img src="/media/icon/no_result.png" alt="" class="no_result_img">
          <h3 class='no_result_h'>По вашему запросу ничего не нашлось.</h3>
          <p class='no_result_text'>Попробуйте другой вариант или перейдите в каталог.</p>
          <button class='no_result_button'><a href="{% url 'game_catalog' %}" class='no_result_a'>КАТАЛОГ ИГР</a></button>
        </div>
      {% endif %}
    </div>
  </div>

<div class='container mt-5'>
  <h1 class='game_catalog_h mb-5'>ДОПОЛНИТЕЛЬНО</h1>
  <div class='row game_catalog_row'>
    {% for additional_product in additional_products %}
    <div class='col-6 col-xxl-3 col-lg-4 game_catalog_grid'>
      <div class="game-card">
        <div class="position-relative">
          <img src="{{ additional_product.image.url }}" alt="{{ additional_product.name }}" class="game_catalog_card">
          {% with discount_percentage=additional_product.get_discount_percentage %}
            {% if discount_percentage %}
              <div class="discount-badge">
                -{{ discount_percentage|format_price }}%
              </div>
            {% endif %}
          {% endwith %}
        </div>
        <h1 class='product_card_name'>{{ additional_product.name }}</h1>
        <p class="product_card_price">
          {% with discounted_price=additional_product.get_discounted_price %}
            {% if discounted_price != additional_product.price %}
              <span class="catalog-discounted-price">{{ additional_product.price_prefix|default_if_none:"" }} {{ discounted_price|format_price }} руб.</span>
              <span class="catalog-original-price">{{ additional_product.price_prefix|default_if_none:"" }} {{ additional_product.price|format_price }} руб.</span>
            {% else %}
              {{ additional_product.price_prefix|default_if_none:"" }} {{ additional_product.price|format_price }} руб.
            {% endif %}
          {% endwith %}
        </p>
        <a href="{% url 'additional_product_detail' additional_product.id %}" class="product_card_button">ПОДРОБНЕЕ</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</form>
  <div class='container'>
  <div class="center-block mt-5 mb-5">
    <h1 class='center-block_h'>НУЖНА ПОМОЩЬ С ВЫБОРОМ?</h1>
    <p class='center-block_text'>Отправь заявку, мы свяжемся с тобой в ближайшее время</p>
    <button class='center-block_button' onclick="openOrderModal()">ЗАПОЛНИТЬ ЗАЯВКУ</button>
  </div>
</div>
{% endblock content %}
