{% extends "base.html" %}
{% load static %}
{% block title %}Катлог игр{% endblock title %}
{% block content %}
  <div class="container mt-5">
    <div class="row ms-auto">
      <div class="col-6">
        <h1 class='game_catalog_h'>КАТАЛОГ ИГР</h1>
      </div>
<div class="col-3 search-container">
  <input type="text" name="search" class="form-control search-input" placeholder="Поиск" value="{{ request.GET.search }}" style='color: white'>
</div>
      <div class="col-3">
        <select name="sort" class="form-control filter-select" onchange="this.form.submit()">
          <option value="">Порядок по:</option>
          <option value="price_asc" {% if request.GET.sort == 'price_asc' %}selected{% endif %}>Цена по возрастанию</option>
          <option value="price_desc" {% if request.GET.sort == 'price_desc' %}selected{% endif %}>Цена по убыванию</option>
          <option value="name_asc" {% if request.GET.sort == 'name_asc' %}selected{% endif %}>Название (А-Я)</option>
          <option value="name_desc" {% if request.GET.sort == 'name_desc' %}selected{% endif %}>Название (Я-А)</option>
        </select>
      </div>
    </div>
  </div>


<div class='container'>
<div class="row mt-4">
    <div class="col-3">
        <select name="size" class="form-control filter-select custom-select" onchange="this.form.submit()">
            <option value="">Выберите размер</option>
            <option value="standard_45x45" {% if request.GET.size == 'standard_45x45' %}selected{% endif %}>Стандарт (45x45 см)</option>
            <option value="standard_30x30" {% if request.GET.size == 'standard_30x30' %}selected{% endif %}>Стандарт (30х30 см)</option>
        </select>
    </div>
    <div class="col-3">
        <select name="players" class="form-control filter-select custom-select" onchange="this.form.submit()">
            <option value="">Выберите количество игроков</option>
            <option value="2" {% if request.GET.players == '2' %}selected{% endif %}>2</option>
            <option value="3+" {% if request.GET.players == '3+' %}selected{% endif %}>3+</option>
            <option value="2-4" {% if request.GET.players == '2-4' %}selected{% endif %}>2-4</option>
        </select>
    </div>
    <div class="col-3">
        <select name="age" class="form-control filter-select custom-select" onchange="this.form.submit()">
            <option value="">Выберите возраст игроков</option>
            <option value="7+" {% if request.GET.age == '7+' %}selected{% endif %}>7+</option>
            <option value="12+" {% if request.GET.age == '12+' %}selected{% endif %}>12+</option>
        </select>
    </div>
    <div class="col-3">
        <select name="type" class="form-control filter-select custom-select" onchange="this.form.submit()">
            <option value="">Выберите вид игры</option>
            <option value="logical" {% if request.GET.type == 'logical' %}selected{% endif %}>Логическая</option>
            <option value="strategy" {% if request.GET.type == 'strategy' %}selected{% endif %}>Стратегия</option>
            <option value="skill" {% if request.GET.type == 'skill' %}selected{% endif %}>На ловкость</option>
            <option value="luck" {% if request.GET.type == 'luck' %}selected{% endif %}>На удачу</option>
            <option value="tactical" {% if request.GET.type == 'tactical' %}selected{% endif %}>Тактическая</option>
            <option value="custom" {% if request.GET.type == 'custom' %}selected{% endif %}>Авторские</option>
        </select>
    </div>
</div>
</div>

<div class='container mt-1'>
  <div class='row'>
    {% for product in products %}
      <div class='col-3 mt-5'>
        <div class="game-card">
          <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product_card_image">
          <h1 class='product_card_name'>{{ product.name }}</h1>
          <p class="product_card_price">{{ product.price|floatformat }} руб.</p>
          <a href="{% url 'product-detail' product.id %}" class="product_card_button">ПОДРОБНЕЕ</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<div class='container mt-5'>
  <h1 class='game_catalog_h'>ДОПОЛНИТЕЛЬНО</h1>
  <div class='row'>
    {% for additional_product in additional_products %}
      <div class='col-3 mt-5'>
        <div class="game-card">
          <img src="{{ additional_product.image.url }}" alt="{{ additional_product.name }}" class="product_card_image">
          <h1 class='product_card_name'>{{ additional_product.name }}</h1>
          <p class="product_card_price">{{ additional_product.price|floatformat }} руб.</p>
          <a href="#" class="product_card_button">ПОДРОБНЕЕ</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}