{% extends "base.html" %}
{% load static %}
{% block title %}Главная{% endblock title %}
{% block content %}
<div class='container mt-5'>
    <h1 class='title_h'>НАСТОЛЬНЫЕ ИГРЫ <span class='wood_h'>ИЗ ДЕРЕВА</span></h1>
<div class="d-flex mt-4">
  <!-- Левая часть с фото -->
  <div class="me-3 position-relative">
    <img src="media/photo/left_photo.jpg" alt="Левое фото" class="left_photo">
    <a href="{% url 'rental_catalog' %}"><img src="media/icon/arend_icon.png" alt="" class='arend_icon'></a>
  </div>
  <!-- Правая часть: фото над тремя блоками -->
  <div>
    <!-- Фото сверху -->
    <div class="mb-3 position-relative">
      <img src="media/photo/right_photo.png" alt="Правое фото" class="right_photo">
      <a href="{% url 'game_catalog' %}"><img src="media/icon/catalog_game_icon.png" alt="" class='catalog_game_icon'></a>
      <p class="position-absolute bottom-0 start-0 m-4 game_count_text">{{ active_product_count }} эксклюзивных игр</p>
    </div>
    <!-- Три блока -->
    <div class="d-flex">
      <button class="p-5 me-3 flex-fill" onclick="openOrderModal()">ОСТАВИТЬ ЗАЯВКУ</button>
      <a href="{% url 'about' %}" class="p-3 me-3 flex-fill">О НАС</a>
      <a href="#" class="p-3 flex-fill">ПОДАРОЧНЫЕ СЕРТИФИКАТЫ</a>
    </div>
  </div>
</div>
</div>

<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-3">
      <img src="media/icon/cube.svg" alt="Картинка 1" class="block-img">
      <h3 class="block-title">Эксклюзивные игры</h3>
      <p class="block-text">В нашей коллекции есть игры, аналогов которых нет на рынке</p>
    </div>
    <div class="col-3">
      <img src="media/icon/star.svg" alt="Картинка 2" class="block-img">
      <h3 class="block-title">Брендирование</h3>
      <p class="block-text">Возможно нанесение индивидуальной гравировки</p>
    </div>
    <div class="col-3">
      <img src="media/icon/hammer.svg" alt="Картинка 3" class="block-img">
      <h3 class="block-title">Ручная работа</h3>
      <p class="block-text">Собственное производство в г.Красноясрк</p>
    </div>
    <div class="col-3">
      <img src="media/icon/car.svg" alt="Картинка 4" class="block-img">и
      <h3 class="block-title">Доставка</h3>
      <p class="block-text">Отправляем по всей России</p>
    </div>
  </div>
</div>

<div class="container carousel-container mt-5">
  <h1 class='game_catalog_h mb-5'>КАТАЛОГ ИГР</h1>
<div class="swiper">
  <div class="swiper-button-prev custom-prev"></div>
  <div class="swiper-button-next custom-next"></div>
  <div class="swiper-wrapper">
    {% for product in products %}
    <div class="swiper-slide">
      <div class="product-card">
        <a href="{% url 'product_detail' pk=product.pk %}">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class='product_card_image'>
        </a>
        <h1 class="product-card-title">{{ product.name }}</h1>
        <p class="product-card-price">
          {% with discounted_price=product.get_discounted_price %}
            {% if discounted_price != product.price %}
<span class="landing-original-price">{{ product.price|floatformat }} руб.</span>
<span class="landing-discounted-price">{{ discounted_price|floatformat }} руб.</span>
            {% else %}
              {{ product.price|floatformat }} руб.
            {% endif %}
          {% endwith %}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>

<div class="container carousel-container mt-5">
  <h1 class='rental_catalog_landing_h mb-5'>ВЫЕЗДНАЯ АРЕНДА</h1>
<div class="swiper">
  <div class="swiper-button-prev custom-prev"></div>
  <div class="swiper-button-next custom-next"></div>
  <div class="swiper-wrapper">
    {% for arend in arenda %}
    <div class="swiper-slide">
      <div class="arend-card">
        <a href="{% url 'rental_catalog' %}">
        <h1 class="arend-card-title"><b>{{ arend.name }}</b></h1>
        <p class="arend-card-description">В стоимость аренды входит:</p>
        <p class="arend-card-description">{{ arend.description|linebreaksbr }}</p>
        <p class="arend-card-price"><b>{{ arend.time }}</b><span><b>{{ arend.price|floatformat }} руб.</b></span></p>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>

<div class="container contacts-container mt-5">
  <h1 class='contact_catalog_h'>КОНТАКТЫ</h1>
  <div class="row-blocks mt-5">
    <div class="contact-block">
      <h1 class='contact_catalog_h'>Связаться с нами</h1>
      <p class='contact_link'>Мы всегда рады ответить на любые  вопросы</p>
      <p class='contact_link'><img src="media/icon/whatsapp.svg" alt="" class='contact_icon_link'><a href="">+7 (993) 723-73-30</a></p>
      <p class='contact_link'><img src="media/icon/gmail.svg" alt="" class='contact_icon_link'><a href="">bul.k.a.play@mail.ru</a></p>
      <p class='contact_link'><img src="media/icon/telegram.svg" alt="" class='contact_icon_link'><a href="">@BULKAPLAY124</a></p>
    </div>
    <div class="contact-block">
      <h1 class='contact_catalog_h'>Присоеденяйся к нам</h1>
      <p class='contact_link'>Подписывайся, что бы быть в курсе новостей и акций</p>
      <p class='contact_link'><img src="media/icon/telegram.svg" alt="" class='contact_icon_link'><a href="">@BULKAPLAY124</a></p>
      <p class='contact_link'><img src="media/icon/contact_instagram.svg" alt="" class='contact_icon_link'><a href="">bul.k.a.play</a></p>
      <p class='contact_link'><img src="media/icon/vk.svg" alt="" class='contact_icon_link'><a href="">bul.k.a.play</a></p>
    </div>
  </div>
  <div class="center-block mt-5">
    <h1 class='center-block_h'>ОСТАЛИСЬ ВОПРОСЫ?</h1>
    <p class='center-block_text'>Отправь заявку, мы свяжемся с тобой в ближайшее время</p>
    <button class='center-block_button' onclick="openOrderModal()">ЗАПОЛНИТЬ ЗАЯВКУ</button>
  </div>
</div>
{% endblock content%}
