{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}Главная{% endblock title %}
{% block content %}
<div class='container mt-5'>
    <h1 class='title_h'>НАСТОЛЬНЫЕ ИГРЫ <span class='wood_h'>ИЗ ДЕРЕВА</span></h1>

    <!-- Десктопная версия -->
    <div class="d-flex mt-4 desktop-layout">
      <!-- Левая часть с фото -->
      <div class="me-3 position-relative">
        <img src="media/photo/left_photo.jpg" alt="Левое фото" class="left_photo">
        <a href="{% url 'rental_catalog' %}"><img src="media/icon/arend_icon.png" alt="" class='arend_icon'></a>
      </div>
      <!-- Правая часть: фото над тремя блоками -->
      <div>
        <!-- Фото сверху -->
        <div class="mb-3 position-relative">
          <img src="media/photo/right_photo.png" alt="Правое фото" class="right_photo">
          <a href="{% url 'game_catalog' %}"><img src="media/icon/catalog_game_icon.png" alt="" class='catalog_game_icon'></a>
          <p class="position-absolute bottom-0 start-0 m-4 game_count_text">{{ active_product_count }} эксклюзивных игр</p>
        </div>
        <!-- Три блока -->
        <div class="d-flex">
          <button class="p-5 me-3 flex-fill" onclick="openOrderModal()">ОСТАВИТЬ ЗАЯВКУ</button>
          <a href="{% url 'two_games_on_one_board' %}" class="p-3 me-3 flex-fill">2 В 1</a>
          <a href="{% url 'about' %}" class="p-3 flex-fill">О НАС</a>
        </div>
      </div>
    </div>

    <!-- Мобильная версия -->
    <div class="mobile-layout">
      <!-- Верхняя секция с right_photo -->
      <div class="mobile-top-section position-relative">
        <img src="media/photo/right_photo.png" alt="Правое фото" class="right_photo">
        <a href="{% url 'game_catalog' %}"><img src="media/icon/catalog_game_icon.png" alt="" class='catalog_game_icon'></a>
        <p class="position-absolute bottom-0 start-0 m-4 game_count_text">{{ active_product_count }} эксклюзивных игр</p>
      </div>

      <!-- Нижняя секция с left_photo и тремя блоками -->
      <div class="mobile-bottom-section">
        <!-- Левая колонка с фото -->
        <div class="mobile-left-column position-relative">
          <img src="media/photo/left_photo.jpg" alt="Левое фото" class="left_photo">
          <a href="{% url 'rental_catalog' %}"><img src="media/icon/arend_icon.png" alt="" class='arend_icon'></a>
        </div>

        <!-- Правая колонка с тремя блоками -->
        <div class="mobile-right-column">
          <button class="p-3 flex-fill" onclick="openOrderModal()">ОСТАВИТЬ ЗАЯВКУ</button>
          <a href="{% url 'two_games_on_one_board' %}" class="p-3 flex-fill">2 В 1</a>
          <a href="{% url 'about' %}" class="p-3 flex-fill">О НАС</a>
        </div>
      </div>
    </div>
</div>

<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-3">
      <img src="media/icon/cube.svg" alt="Картинка 1" class="block-img">
      <h3 class="block-title">ЭКСКЛЮЗИВНЫЕ ИГРЫ</h3>
      <p class="block-text">в нашей коллекции есть игры, аналогов которых нет на рынке</p>
    </div>
    <div class="col-3">
      <img src="media/icon/star.svg" alt="Картинка 2" class="block-img">
      <h3 class="block-title">БРЕНДИРОВАНИЕ</h3>
      <p class="block-text">возможно нанесение индивидуальной гравировки</p>
    </div>
    <div class="col-3">
      <img src="media/icon/hammer.svg" alt="Картинка 3" class="block-img">
      <h3 class="block-title">РУЧНАЯ РАБОТА</h3>
      <p class="block-text">собственное производство в г.Красноясрк</p>
    </div>
    <div class="col-3">
      <img src="media/icon/car.svg" alt="Картинка 4" class="block-img">
      <h3 class="block-title">ДОСТАВКА</h3>
      <p class="block-text">отправляем по всей России</p>
    </div>
  </div>
</div>

<div class="container carousel-container mt-5">
  <h1 class='game_catalog_h'>КАТАЛОГ ИГР</h1>
<div class="swiper">
  <div class="swiper-button-prev custom-prev"></div>
  <div class="swiper-button-next custom-next"></div>
  <div class="swiper-wrapper">
    {% for product in products %}
    <div class="swiper-slide">
      <div class="product-card">
        <a href="{% url 'product_detail' pk=product.pk %}" class="product-image-container">
          <img src="{{ product.image.url }}" alt="{{ product.name }}" class='product_card_image'>
          {% with discount_percentage=product.get_discount_percentage %}
            {% if discount_percentage %}
              <div class="discount-badge">
                -{{ discount_percentage|format_price }}%
              </div>
            {% endif %}
          {% endwith %}
        </a>
        <h1 class="product-card-title">{{ product.name }}</h1>
        <p class="product-card-price">
          {% with discounted_price=product.get_discounted_price %}
            {% if discounted_price != product.price %}
              <span class="landing-discounted-price">{{ discounted_price|format_price }} руб.</span>
              <span class="landing-original-price">{{ product.price|format_price }} руб.</span>
            {% else %}
              {{ product.price|format_price }} руб.
            {% endif %}
          {% endwith %}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>

<div class="container carousel-container mt-5">
  <h1 class='rental_catalog_landing_h'>ВЫЕЗДНАЯ АРЕНДА</h1>
  <p class='rental-description'>Мы предлагаем уникальный подход к проведению праздников! Выбирай количество игр в зависимости от количества гостей. В стоимость входит выезд игровых мастеров, которые создадут атмосферу веселья и вовлекут каждого участника. Количество мастеров определяется количеством игр и обговаривается при оформлении заказа.</p>
<div class="swiper rental-swiper">
  <div class="swiper-button-prev custom-prev"></div>
  <div class="swiper-button-next custom-next"></div>
  <div class="swiper-wrapper" style="align-items: stretch;">
      {% for arend in arenda %}
      <div class="swiper-slide" style="height: auto;">
        <div class="arend-card{% if arend.card_style == 2 %} style-2{% endif %}" style="height: 100%;">
        <a href="{% url 'rental_catalog' %}">
          <h1 class="arend-card-title">{{ arend.name }}</h1>
          {% with discount_percentage=arend.get_discount_percentage %}
            {% if discount_percentage %}
              <div class="discount-badge">
                -{{ discount_percentage|format_price }}%
              </div>
            {% endif %}
          {% endwith %}
          <p class="arend-card-description">В стоимость аренды входит:</p>
          <p class="arend-card-description">{{ arend.description|linebreaksbr }}</p>
          <div class="arend-card-price">
            <span class="arend-card-time">{{ arend.rental_time }} часов</span>
            <div class="price-container">
              {% with discounted_price=arend.get_discounted_price %}
                {% if discounted_price != arend.price %}
                  <span class="original-price-container">
                    <span class="landing-original-price">{{ arend.price|format_price }} руб.</span>
                  </span>
                  <span class="landing-discounted-price">{{ discounted_price|format_price }} руб.</span>
                {% else %}
                  <span class="arend-price">{{ arend.price|format_price }} руб.</span>
                {% endif %}
              {% endwith %}
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container contacts-container mt-5">
  <h1 class='contact_catalog_h'>КОНТАКТЫ</h1>
  <div class="row-blocks">
    <div class="contact-block">
      <h1 class='contact_catalog_h'>Связаться с нами</h1>
      <p class='contact_text'>Мы всегда рады ответить на любые  вопросы</p>
      <p class='contact_link'><img src="media/icon/whatsapp.svg" alt="" class='contact_icon_link'><a href="">+7 (993) 723-73-30</a></p>
      <p class='contact_link'><img src="media/icon/gmail.svg" alt="" class='contact_icon_link'><a href="">bul.k.a.play@mail.ru</a></p>
      <p class='contact_link'><img src="media/icon/telegram.svg" alt="" class='contact_icon_link'><a href="">@BULKAPLAY124</a></p>
    </div>
    <div class="contact-block">
      <h1 class='contact_catalog_h'>Присоеденяйся к нам</h1>
      <p class='contact_text'>Подписывайся, что бы быть в курсе новостей и акций</p>
      <p class='contact_link'><img src="media/icon/telegram.svg" alt="" class='contact_icon_link'><a href="">@BULKAPLAY124</a></p>
      <p class='contact_link'><img src="media/icon/contact_instagram.svg" alt="" class='contact_icon_link'><a href="">bul.k.a.play</a></p>
      <p class='contact_link'><img src="media/icon/vk.svg" alt="" class='contact_icon_link'><a href="">bul.k.a.play</a></p>
    </div>
  </div>
  <div class="center-block">
    <h1 class='center-block_h'>ОСТАЛИСЬ ВОПРОСЫ?</h1>
    <p class='center-block_text'>Отправь заявку, мы свяжемся с тобой в ближайшее время</p>
    <button class='center-block_button' onclick="openOrderModal()">ЗАПОЛНИТЬ ЗАЯВКУ</button>
  </div>
</div>

<!-- Модальное окно уведомления о скидках -->
<div id="discountModal" class="discount-modal">
  <div class="discount-modal-content">
    <span class="discount-close" onclick="closeDiscountModal()">&times;</span>
    <div class="success-icon"><img src="/media/icon/discaunt.png" alt=""></div>
    <h2 class="success-title">{{ active_discount.name }}</h2>
    <div class="success-message">{{ active_discount.description|safe|linebreaks }}</div>
    <button class="success-ok-button" onclick="closeDiscountModal()">ХОРОШО</button>
  </div>
</div>
{% endblock content%}
