{% extends "base.html" %}
{% load static %}
{% block title %}Детально про игру{% endblock title %}
{% block content %}
<div class="container mt-5">
    <div class='row' style='flex-wrap: nowrap'>
        <div class='col-1'>
            {% for image in product.additional_images.all %}
                <img src="{{ image.image.url }}" alt="Additional Image" class="additional_images">
            {% endfor %}
        </div>  
<div class='col-6'>
            <img src="{{ product.image.url }}" alt="Main Image" class="product_detail_image">
        </div>
        <div class='col-5'>
            <h1 class='product_detail_name'>{{ product.name }}</h1>
            <p class='product_detail_description'>{{ product.description }}</p>
            <p class='product_detail_set'>КОМПЛЕКТ</p>
                <div class="kit-container">
                    {% for item in product.ordered_game_kits.all %}
                        <div class="kit-item">
                            <div class="kit-content">
                                <span class="highlighted-text">{{ item.game_kit_item.highlighted_text }}</span>
                                <span class="normal-text">{{ item.game_kit_item.normal_text }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            <p class='product_detail_price'>{{ product.price|floatformat }} руб.</p>
            <button class='product_detail_button'>ЗАКАЗАТЬ</button>
        </div>
    </div>
</div>



<div class='container mt-5'>
  <h1 class='game_catalog_h'>СМОТРИТЕ ТАКЖЕ</h1>
  <div class='row'>
    {% for product in random_products %}
      <div class='col-3 mt-5'>
        <div class="game-card">
          <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product_card_image">
          <h1 class='product_card_name'>{{ product.name }}</h1>
          <p class="product_card_price">{{ product.price|floatformat }} руб.</p>
          <a href="{% url 'product_detail' pk=product.pk %}" class="product_card_button">ПОДРОБНЕЕ</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class='container mt-5'>
  <h1 class='game_catalog_h'>С ЭТИМ ТОВАРОМ ПОКУПАЮТ</h1>
  <div class='row'>
    {% for additional_product  in additional_products  %}
      <div class='col-3 mt-5'>
        <div class="game-card">
          <img src="{{ additional_product.image.url }}" alt="{{ additional_product.name }}" class="product_card_image">
          <h1 class='product_card_name'>{{ additional_product.name }}</h1>
          <p class="product_card_price">{{ additional_product.price|floatformat }} руб.</p>
          <a href="#" class="product_card_button">ПОДРОБНЕЕ</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
