{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% comment %} название игры {% endcomment %}
{% block title %}{{ product.name }} | BUL.K.A-PLAY{% endblock title %}
{% block meta_description %}{{ product.name }} — эксклюзивная настольная игра из натурального дерева. Ручная работа, экологичные материалы, доставка по всей России.{% endblock %}
{% block meta_keywords %}{{ product.name }}, настольные игры из дерева, деревянные игры, игры из натурального дерева, эксклюзивные настольные игры, игры ручной работы, деревянные шахматы, деревянные шашки, подарочные настольные игры, игры из березы, игры из дуба, развитие логики через игры, Красноярск{% endblock %}
{% block og_title %}{{ product.name }} | BUL.K.A-PLAY{% endblock %}
{% block og_description %}{{ product.name }} — эксклюзивная настольная игра из натурального дерева. Ручная работа, экологичные материалы, доставка по всей России.{% endblock %}
{% block og_image %}{{ product.image.url }}{% endblock %}
{% block twitter_title %}{{ product.name }} | BUL.K.A-PLAY{% endblock %}
{% block twitter_description %}{{ product.name }} — эксклюзивная настольная игра из натурального дерева. Ручная работа, экологичные материалы, доставка по всей России.{% endblock %}
{% block twitter_image %}{{ product.image.url }}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/pages/product_detail.css' %}">
<div class="container mt-5">
    <!-- Десктопная версия -->
    <div class="row mt-5 d-none d-md-flex" style='flex-wrap: nowrap'>
        <div class='col-1'>
            {% for image in product.additional_images.all %}
                <img src="{{ image.image.url }}" alt="Additional Image" class="additional_images" onclick="openProductModal('{{ product.id }}')">
            {% endfor %}
        </div>
<div class='col-6'>
  <div class="position-relative">
    <img src="{{ product.image.url }}" alt="Main Image" class="product_detail_image" onclick="openProductModal('{{ product.id }}')">
    {% with discount_percentage=product.get_discount_percentage %}
      {% if discount_percentage %}
        <div class="discount-badge">
          -{{ discount_percentage|format_price }}%
        </div>
      {% endif %}
    {% endwith %}
  </div>
</div>
<div class='col-5' style="display: flex; flex-direction: column; justify-content: space-between;">
            <h1 class='product_detail_name'>{{ product.name }}</h1>
            <div class='product_detail_description'>{{ product.description|safe }}</div>
            <p class='product_detail_set'>КОМПЛЕКТ</p>
            <div class="kit-container">
                {% for item in product.ordered_game_kits.all %}
                    <div class="kit-item">
                        <div class="kit-content">
                            <span class="highlighted-text">{{ item.game_kit_item.highlighted_text }}</span>
                            <span class="normal-text">{{ item.game_kit_item.normal_text }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <p class='product_detail_price'>
              {% with discounted_price=product.get_discounted_price %}
                {% if discounted_price != product.price %}
<span class="product-detail-discounted-price">{{ additional_product.price_prefix|default_if_none:"" }} {{ discounted_price|format_price }} руб.</span>
<span class="product-detail-original-price">{{ additional_product.price_prefix|default_if_none:"" }} {{ product.price|format_price }} руб.</span>
                {% else %}
                  {{ additional_product.price_prefix|default_if_none:"" }} {{ product.price|format_price }} руб.
                {% endif %}
              {% endwith %}
            </p>
<button class='product_detail_button' onclick="openOrderModal('{{ product.id }}')">ЗАКАЗАТЬ</button>
        </div>
    </div>

    <!-- Мобильная версия -->
    <div class="row mt-5 d-md-none">
        <div class="col-12">
            <div class="swiper product-main-swiper-mobile">
                <div class="swiper-wrapper">
                    <!-- Основное изображение -->
<div class="swiper-slide">
  <div class="position-relative">
    <img src="{{ product.image.url }}" alt="Main Image" class="product_detail_image">
    {% with discount_percentage=product.get_discount_percentage %}
      {% if discount_percentage %}
        <div class="discount-badge">
          -{{ discount_percentage|format_price }}%
        </div>
      {% endif %}
    {% endwith %}
  </div>
</div>
                    <!-- Дополнительные изображения -->
{% for image in product.additional_images.all %}
<div class="swiper-slide">
  <div class="position-relative">
    <img src="{{ image.image.url }}" alt="Additional Image" class="product_detail_image">
    {% with discount_percentage=product.get_discount_percentage %}
      {% if discount_percentage %}
        <div class="discount-badge">
          -{{ discount_percentage|format_price }}%
        </div>
      {% endif %}
    {% endwith %}
  </div>
</div>
{% endfor %}
                </div>
                <!-- Кнопки навигации -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>

<!-- Описание и кнопка заказа для мобильной версии -->
<div class="row mt-3 d-md-none">
    <div class="col-12">
        <h1 class='product_detail_name'>{{ product.name }}</h1>
        <p class='product_detail_price'>
            {% with discounted_price=product.get_discounted_price %}
                {% if discounted_price != product.price %}
                    <span class="product-detail-discounted-price">{{ additional_product.price_prefix|default_if_none:"" }} {{ discounted_price|format_price }} руб.</span>
                    <span class="product-detail-original-price">{{ additional_product.price_prefix|default_if_none:"" }} {{ product.price|format_price }} руб.</span>
                {% else %}
                    {{ additional_product.price_prefix|default_if_none:"" }} {{ product.price|format_price }} руб.
                {% endif %}
            {% endwith %}
        </p>
        <div class='product_detail_description'>{{ product.description|safe }}</div>
        <p class='product_detail_set'>КОМПЛЕКТ</p>
        <div class="kit-container-mobile">
            {% for item in product.ordered_game_kits.all %}
                <div class="kit-item-mobile">
                    <div class="kit-content">
                        <span class="highlighted-text">{{ item.game_kit_item.highlighted_text }}</span>
                        <span class="normal-text">{{ item.game_kit_item.normal_text }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
<button class='product_detail_button' onclick="openOrderModal('{{ product.id }}')">ЗАКАЗАТЬ</button>
    </div>
</div>


<div class='container button-container'>
    <div class="button-row">
        <div class="button-info-container">
            <button class="button" onclick="showInfo(event, 'info1')">ПРАВИЛА ИГРЫ <img src="/media/icon/select_arrow.svg" alt="" class='arrow_accorderon'></button>
        </div>
        <div class="button-info-container">
            <button class="button" onclick="showInfo(event, 'info2')">МАТЕРИАЛ <img src="/media/icon/select_arrow.svg" alt="" class='arrow_accorderon'></button>
        </div>
        <div class="button-info-container">
            <button class="button" onclick="showInfo(event,'info3')">ДОСТАВКА <img src="/media/icon/select_arrow.svg" alt="" class='arrow_accorderon'></button>
        </div>
        <div class="button-info-container">
            <button class="button" onclick="showInfo(event,'info4')">ДОПОЛНИТЕЛЬНО <img src="/media/icon/select_arrow.svg" alt="" class='arrow_accorderon'></button>
        </div>
    </div>
    <div id="info1" class="info-block">
        {{ product.game_rules|safe|linebreaks }}
    </div>
    <div id="info2" class="info-block">
        <ul>
          <li>Натуральное дерево твердых пород. </li>
          <li>Ручная работа</li>
          <li>Гипоаллергенное покрытие (высококачественные масла, воск и пропитки).</li>
        </ul>
    </div>
    <div id="info3" class="info-block">
        <p><b>Мы осуществляем доставку по всей территории России.</b></p>
        <ul>
          <li>Обратите внимание, что стоимость доставки оплачивается заказчиком отдельно.</li>
          <li>Мы сотрудничаем с надежной курьерскими службами, что позволяет обеспечить своевременное получение вами заказа.</li>
          <li>Стоимость и сроки доставки зависят от вашего местоположения. После отправки заказа мы предоставим вам трек-номер для отслеживания статуса доставки в режиме онлайн. </li>
          <li>Для оформления доставки добавьте соответствующую услугу в корзину при оформлении заказа и укажите точный адрес доставки. Наш сотрудник свяжется с вами для уточнения всех необходимых деталей.</li>
        </ul>
    </div>
    <div id="info4" class="info-block">
        {{ product.additional_info|safe|linebreaks }}
    </div>  
</div>


<div class='container mt-5' id='look-also-section'>
  <h1 class='game_catalog_h-2'>СМОТРИТЕ ТАКЖЕ</h1>
  <div class='row detail_row'>
    {% for product in similar_products %}
    <div class='col-6 col-md-4 col-lg-3 mt-1 game_catalog_grid'>
      <div class="game-card" style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
        <div class="position-relative">
          <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product_detail_image_list">
          {% with discount_percentage=product.get_discount_percentage %}
            {% if discount_percentage %}
              <div class="discount-badge">
                -{{ discount_percentage|format_price }}%
              </div>
            {% endif %}
          {% endwith %}
        </div>
        <h1 class='product_card_name'>{{ product.name }}</h1>
        <p class="product_card_price">
          {% with discounted_price=product.get_discounted_price %}
            {% if discounted_price != product.price %}
              <span class="product-detail-discounted-price">{{ additional_product.price_prefix|default_if_none:"" }} {{ discounted_price|format_price }} руб.</span>
              <span class="product-detail-original-price">{{ additional_product.price_prefix|default_if_none:"" }} {{ product.price|format_price }} руб.</span>
            {% else %}
              {{ additional_product.price_prefix|default_if_none:"" }} {{ product.price|format_price }} руб.
            {% endif %}
          {% endwith %}
        </p>
        <a href="{% url 'product_detail' pk=product.pk %}" class="product_card_button">ПОДРОБНЕЕ</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class='container mt-3' id='bought-together-section'>
  <h1 class='game_catalog_h-2'>С ЭТИМ ТОВАРОМ ПОКУПАЮТ</h1>
  <div class='row detail_row'>
    {% for additional_product in additional_products %}
    <div class='col-6 col-md-4 col-lg-3 mt-1 game_catalog_grid'>
      <div class="game-card" style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
        <div class="position-relative">
          <img src="{{ additional_product.image.url }}" alt="{{ additional_product.name }}" class="product_detail_image_list">
          {% with discount_percentage=additional_product.get_discount_percentage %}
            {% if discount_percentage %}
              <div class="discount-badge">
                -{{ discount_percentage|format_price }}%
              </div>
            {% endif %}
          {% endwith %}
        </div>
        <h1 class='product_card_name'>{{ additional_product.name }}</h1>
        <p class="product_card_price">
          {% with discounted_price=additional_product.get_discounted_price %}
            {% if discounted_price != additional_product.price %}
              <span class="product-detail-discounted-price">{{ additional_product.price_prefix|default_if_none:"" }} {{ discounted_price|format_price }} руб.</span>
              <span class="product-detail-original-price">{{ additional_product.price_prefix|default_if_none:"" }} {{ additional_product.price|format_price }} руб.</span>
            {% else %}
              {{ additional_product.price_prefix|default_if_none:"" }} {{ additional_product.price|format_price }} руб.
            {% endif %}
          {% endwith %}
        </p>
        <a href="{% url 'additional_product_detail' pk=additional_product.pk %}" class="product_card_button">ПОДРОБНЕЕ</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    function adjustVisibleProducts() {
      const windowWidth = window.innerWidth;

      // Определяем количество отображаемых товаров в зависимости от ширины экрана
      let visibleCount;
      if (windowWidth >= 992) { // Десктоп
        visibleCount = 4;
      } else if (windowWidth >= 768) { // Планшет
        visibleCount = 3;
      } else { // Мобильные устройства
        visibleCount = 2;
      }

      // Обрабатываем раздел "СМОТРИТЕ ТАКЖЕ"
      const lookAlsoSection = document.getElementById('look-also-section');
      if (lookAlsoSection) {
        const lookAlsoProducts = lookAlsoSection.querySelectorAll('.detail_row .col-6');
        lookAlsoProducts.forEach((product, index) => {
          if (index < visibleCount) {
            product.style.display = '';
          } else {
            product.style.display = 'none';
          }
        });
      }

      // Обрабатываем раздел "С ЭТИМ ТОВАРОМ ПОКУПАЮТ"
      const boughtTogetherSection = document.getElementById('bought-together-section');
      if (boughtTogetherSection) {
        const boughtTogetherProducts = boughtTogetherSection.querySelectorAll('.detail_row .col-6');
        boughtTogetherProducts.forEach((product, index) => {
          if (index < visibleCount) {
            product.style.display = '';
          } else {
            product.style.display = 'none';
          }
        });
      }
    }

    // Вызываем функцию при загрузке страницы и при изменении размера окна
    adjustVisibleProducts();
    window.addEventListener('resize', adjustVisibleProducts);
  });
</script>

<!-- Модальное окно для продукта -->
<div id="productModal" class="news-modal">
  <span class="news-close" onclick="closeProductModal()">&times;</span>
  <div class="news-modal-content">
    <div class="news-carousel">
      <div class="product-carousel-inner">
        <!-- Слайды будут добавляться динамически -->
      </div>
      <button class="news-carousel-control prev" onclick="productPrevSlide()">&#10094;</button>
      <button class="news-carousel-control next" onclick="productNextSlide()">&#10095;</button>
    </div>
  </div>
</div>
<link rel="stylesheet" href="{% static 'css/product_modal.css' %}">
<script src="{% static 'js/product_modal.js' %}"></script>
{% endblock scripts %}
