{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}Каталог аренды{% endblock title %}
{% block content %}
<div class='container mt-5'>
    <h1 class='rental_catalog_h mt-5'>ОРГАНИЗАЦИЯ МЕРОПРИЯТИЙ <span class='wood_h'>С НАСТОЛЬНЫМИ ИГРАМИ</span></h1>
    <p class='rental_catalog_p mt-3'>Мы предлагаем уникальный подход к проведению праздников! Выбирай количество игр в зависимости от количества гостей. В стоимость входит выезд игровых мастеров, которые создадут атмосферу веселья и вовлекут каждого участника. Количество мастеров определяется количеством игр и обговаривается при оформлении заказа.</p>
    <div class="video-container">
        <iframe
        src="https://vk.com/video_ext.php?oid=-226618368&id=456239230&hd=2&"
        allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
        frameborder="0"
        allowfullscreen
        ></iframe>
    </div>
</div>

<div class="container mt-5 rental-calculator">
    <h3>РАССЧИТАТЬ КОЛЛИЧЕСТВО ИГР НА ПРАЗДНИКЕ</h3>
<div class="row mt-1">
    <div class="col-md-6 d-flex align-items-center">
        <h3 class="guest_count_h mb-0">КОЛИЧЕСТВО ГОСТЕЙ</h3>
        <div id="guestValueDisplay" class="ms-2">2 <span id="guestUnit">чел</span></div>
    </div>
</div>

<div class="row mt-3 slider-container">
    <input type="range" class="form-range" id="guestSlider" min="2" max="25" step="1" value="2"/>
      <div class="slider-labels">
        <span class="slider-label slider-label-start">2 чел</span>
        <span class="slider-label slider-label-end">более 25 чел</span>
    </div>
</div>

<div class="row rental_recomendation mt-3">
    <div class="col-12 col-md-6">
        <h2 class="rental_recomendation_h">Рекомендуемое минимальное количество игр:</h2>
    </div>
    <div class="col-12 col-md-5">
      <p id="guestCounts">
            <span id="guestMinCount"></span>  -  <span id="guestMaxCount"></span> <span id="gamesLabel"></span>
        </p>
    </div>
    </div>
    <p class='rental_text'><span class='wood_p'>НО! </span>Чем больше игр ты закажешь, тем веселее и разнообразнее будет отдых</p>
</div>
</div>


<div class='container mt-5'>
  <h1 class='arend_description_h'>В СТОИМОСТЬ АРЕНДЫ ВХОДИТ:</h1>
  <p class='arend_li'>• Доставка арендованных игр по г. Красноярску</p>
  <p class='arend_li'>• Выезд игрового мастера, который объяснит правила и поможет вам погрузиться в игру</p>
  <p class='arend_li'>• от 2 часов</p>
  <div class='row mt-3'>
    {% for arend in arenda %}
    <div class='col-12 col-md-4 custom-col-lg-6'>
      <div class="game-card-rental{% if arend.card_style == 2 %} style-2{% endif %}">
        <a href="#" onclick="openOrderModal()">
          <div class="position-relative">
            <h1 class="arend-card-title">{{ arend.name }}</h1>
            {% with discount_percentage=arend.get_discount_percentage %}
              {% if discount_percentage %}
                <div class="discount-badge">
                  -{{ discount_percentage|format_price }}%
                </div>
              {% endif %}
            {% endwith %}
          </div>
          <p class="arend-card-description d-none d-md-block">В стоимость аренды входит:</p>
          <p class="arend-card-description d-none d-md-block">{{ arend.description|linebreaksbr }}</p>
          <p class="arend-card-price">
            {% with discounted_price=arend.get_discounted_price %}
              {% if discounted_price != arend.price %}
                <span class="arend-discounted-price">{{ discounted_price|format_price }} руб.</span>
                <span class="arend-original-price">{{ arend.price|format_price }} руб.</span>
              {% else %}
                <b class="arend-card-time">{{ arend.time }}</b><span><b class="arend-price">{{ arend.price|format_price }} руб.</b></span>
              {% endif %}
            {% endwith %}
          </p>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



<div class="container carousel-container mt-5 mb-5">
  <h1 class='news_catalog_h mb-5'>МЕРОПРИЯТИЯ С BUL.K.A-PLAY</h1>
<div class="swiper">
  <div class="swiper-button-prev custom-prev"></div>
  <div class="swiper-button-next custom-next"></div>
  <div class="swiper-wrapper">
    {% for n in news %}
    <div class="swiper-slide">
      <div class="news-card" data-news-id="{{ n.id }}">
        <img src="{{ n.image.url }}" alt="{{ n.name }}" class='news_card_image'>
        <!-- Дополнительные изображения новости -->
        {% for additional_image in n.additional_images.all %}
          <img src="{{ additional_image.image.url }}" alt="Additional Image" class="additional_news_image" style="display: none;">
        {% endfor %}
        <h1 class="news-card-title">{{ n.name }}</h1>
        <button class="news-card-button" data-news-id="{{ n.id }}">ПОДРОБНЕЕ</button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
<!-- Модальное окно для новостей -->
<div id="newsModal" class="news-modal">
  <span class="news-close">&times;</span>
  <div class="news-modal-content">
    <div class="news-carousel">
      <div class="news-carousel-inner">
        <!-- Слайды будут добавляться динамически -->
      </div>
      <button class="news-carousel-control prev" onclick="newsPrevSlide()">&#10094;</button>
      <button class="news-carousel-control next" onclick="newsNextSlide()">&#10095;</button>
    </div>
  </div>
</div>
  <div class='container'>
  <div class="center-block mt-5 mb-5">
    <h1 class='center-block_h'>ХОЧЕШЬ ТАКЖЕ?</h1>
    <p class='center-block_text'>Отправь заявку, мы свяжемся с тобой в ближайшее время</p>
    <button class='center-block_button' onclick="openOrderModal()">ЗАПОЛНИТЬ ЗАЯВКУ</button>
  </div>
</div>
{% endblock content %}
