{% extends "base.html" %}
{% load static %}
{% block title %}Каталог аренды{% endblock title %}
{% block content %}
<div class='container mt-5'>
    <h1 class='rental_catalog_h mt-5'>ОРГАНИЗАЦИЯ МЕРОПРИЯТИЙ <span class='wood_h'>С НАСТОЛЬНЫМИ ИГРАМИ</span></h1>
    <p class='rental_catalog_p mt-3'>Мы предлагаем уникальный подход к проведению праздников! Выбирай количество игр в зависимости от количества гостей. В стоимость входит выезд игровых мастеров, которые создадут атмосферу веселья и вовлекут каждого участника. Количество мастеров определяется количеством игр и обговаривается при оформлении заказа.</p>
    <iframe
    src="https://vk.com/video_ext.php?oid=-226618368&id=456239230&hd=2&"
    width="100%"
    height="700px"
    style="background-color: #000; border: none; border-radius: 46px; margin-top: 20px; object-fit: cover;"
    allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
    frameborder="0"
    allowfullscreen
    ></iframe>
</div>

<div class="container rental-calculator">
    <h2>Рассчитать количество игр на празднике</h2>
<div class="row mt-1">
    <div class="col-md-6 d-flex align-items-center">
        <h3 class="mb-0">Количество гостей</h3>
        <form id="myForm" onsubmit="return false;" class="ms-3">
            <input class='input-guest' type="number" name="guests" id="guestInput">
        </form>
    </div>
</div>
    
<div class="row mt-3 slider-container">
    <input type="range" class="form-range" id="guestSlider" min="2" max="25" step="1" value="2"/>
      <div class="slider-labels">
        <span class="slider-label slider-label-start">2 чел</span>
        <span class="slider-label slider-label-end">более 25 чел</span>
    </div>
</div>

<div class="row mt-3">
    <div class="col-8 d-flex align-items-center">
        <h3 class="mb-0 me-3">Рекомендуемое минимальное количество игр:</h3>
    </div>
    <div class="col-3 d-flex align-items-center">
      <p id="guestCounts" class="mb-2">
            <span id="guestMinCount"></span>  -  <span id="guestMaxCount"></span>
        </p>
    </div>
    </div>
    <p class="funny-text">Чем больше игр ты закажешь, тем веселее и разнообразнее будет отдых!</p>
</div>
</div>


<div>
    
</div>
{% endblock content %}