{% extends "base.html" %}

{% block title %}2 в 1{% endblock %}

{% block content %}
<div class='container mt-5'>
    <h1 class='title_h_2_in_1 mt-5'>ДВЕ ИГРЫ <span class='wood_h'>НА ОДНОЙ ДОСКЕ</span></h1>
    <div class='row mt-5'>
    <div class='col-4'>
        <iframe src="https://vkvideo.ru/video_ext.php?oid=-226618368&id=456239243&hash=477ca71ff53686a1" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture" class='video_title'></iframe>
    </div>
    <div class='col-8'>
        <h1 class='exlusive_h'>ТВОЯ ИГРА — ЭКСКЛЮЗИВНАЯ И ИНДИВИДУАЛЬНАЯ НА 100%</h1>
        <p class='exlusive_p mt-3'>Зачем выбирать одну, если можно взять сразу две? Мы объединим твои любимые игры BUL.K.A-PLAY на одной доске — удобно, компактно и невероятно красиво.</p>
        <h1 class='exlusive_h mt-5'>ПРЕИМУЩЕСТВА</h1>
  <div class="container-block">
    <div class="block1">
        <h1 class='advantage-block-h'>Удобство использования</h1>
        <p class='advantage-block-p'>— просто переворачивай и играй.</p>
    </div>
    <div class="block2">
        <h1 class='advantage-block-h-2'>100% индивидуальность</h1>
        <p class='advantage-block-p-2'>— каждая доска создаётся под тебя</p>
    </div>
    <div class="block3">
        <h1 class='advantage-block-h'>Экономия места</h1>
        <p class='advantage-block-p'>— одна доска вместо двух.</p>
    </div>
  </div>
        <h1 class='exlusive_h mt-5'>КАК ПОЛУЧИТЬ СВОЮ УНИКАЛЬНУЮ ДОСКУ?</h1>
          <div class="container-block-2 mt-2">
    <div class="block">
        <h1 class='opacity_h'>1</h1>
        <h1 class='advantage-block-h'>Выбери любые две игры BUL.K.A-PLAY, </h1>
        <p class='advantage-block-p'>которые хочешь совместить.</p>
    </div>
    <div class="block">
        <h1 class='opacity_h'>2</h1>
        <h1 class='advantage-block-h'>Скажи нам,</h1>
        <p class='advantage-block-p'>если хочешь добавить индивидуальную гравировку или памятную надпись.</p>
    </div>
  </div>
    </div>
    </div>
</div>
<div class='container mt-5'>
    <div class='row'>
        <div class='col-3'>
            <h1>qweqw</h1>
        </div>
                <div class='col-3'>
            <h1>qweqw</h1>
        </div>
                <div class='col-3'>
            <h1>qweqw</h1>
        </div>
                <div class='col-3'>
            <h1>qweqw</h1>
        </div>
    </div>
</div>
<div class='container mt-5'>
    <div class='row'>
        <div class='col-5'>
            <p>qweqweqweqwe</p>
        </div>
        <div class='col-7'>
            <p>qweqweqweqwe</p>
        </div>
    </div>
</div>
<div class='container mt-5'>
    <div class='row'>
        <div class='col-5'>

        </div>
    </div>
</div>
{% endblock content %}