{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}Две игры на одной доске | Эксклюзивные деревянные настольные игры{% endblock title %}
{% block meta_description %}Эксклюзивные деревянные настольные игры 2 в 1. Индивидуальные доски с двумя играми на одной доске. Удобство, компактность и оригинальный дизайн.{% endblock %}
{% block meta_keywords %}настольные игры 2 в 1, деревянные игры на одной доске, индивидуальные настольные игры, эксклюзивные деревянные игры, настольные игры ручной работы, деревянные игры для подарка, игры из натурального дерева, настольные игры для семьи, деревянные игры Красноярск, оригинальные настольные игры{% endblock %}
{% block og_title %}Две игры на одной доске | Эксклюзивные деревянные настольные игры{% endblock %}
{% block og_description %}Эксклюзивные деревянные настольные игры 2 в 1. Индивидуальные доски с двумя играми на одной доске. Удобство, компактность и оригинальный дизайн.{% endblock %}
{% block og_image %}https://bulkaplay.ru/media/photo/right_photo.png{% endblock %}
{% block twitter_title %}Две игры на одной доске | Эксклюзивные деревянные настольные игры{% endblock %}
{% block twitter_description %}Эксклюзивные деревянные настольные игры 2 в 1. Индивидуальные доски с двумя играми на одной доске. Удобство, компактность и оригинальный дизайн.{% endblock %}
{% block twitter_image %}https://bulkaplay.ru/media/photo/right_photo.png{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/pages/two_games_on_one_board.css' %}">
<div class='container mt-5'>
    <h1 class='title_h_2_in_1 mt-5'><span class='wood_h'>ДВЕ ИГРЫ </span>НА ОДНОЙ ДОСКЕ</h1>
    <div class='row mt-2'>
<div class='col-md-4 col-12 col-sm-6  mobile_2_1'>
                <video src="/media/video/2-v-1-magnity_PEoqjsJO.mp4" class='video_title' controls preload="auto" muted></video>
</div>
        <div class='col-md-8 col-12 mobile_2_1'>
            <h1 class='exlusive_h'>ТВОЯ ИГРА — ЭКСКЛЮЗИВНАЯ И ИНДИВИДУАЛЬНАЯ НА 100%</h1>
            <p class='exlusive_p mt-3'>Зачем выбирать одну, если можно взять сразу две? <br>Мы объединим твои любимые игры BUL.K.A-PLAY на одной доске — удобно, компактно и невероятно красиво.</p>
            <h1 class='exlusive_h mt-5'>ПРЕИМУЩЕСТВА</h1>
            <div class="container-block">
                <div class="block1">
                    <h1 class='advantage-block-h'>Удобство использования</h1>
                    <p class='advantage-block-p'>— просто переворачивай и играй.</p>
                </div>
                <div class="block2">
                    <h1 class='advantage-block-h-2'>100% индивидуальность</h1>
                    <p class='advantage-block-p-2'>— каждая доска создаётся под тебя</p>
                </div>
                <div class="block3">
                    <h1 class='advantage-block-h'>Экономия места</h1>
                    <p class='advantage-block-p'>— одна доска вместо двух.</p>
                </div>
            </div>
            <h1 class='exlusive_h mt-5'>КАК ПОЛУЧИТЬ СВОЮ УНИКАЛЬНУЮ ДОСКУ?</h1>
            <div class="container-block-2 mt-2">
                <div class="block">
                    <h1 class='opacity_h-1'>1</h1>
                    <h1 class='block-h'>Выбери любые две игры BUL.K.A-PLAY, </h1>
                    <p class='block-p'>которые хочешь совместить.</p>
                </div>
                <div class="block">
                    <h1 class='opacity_h'>2</h1>
                    <h1 class='block-h'>Скажи нам,</h1>
                    <p class='block-p'>если хочешь добавить индивидуальную гравировку или памятную надпись.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='container mt-3'>
    <h1 class='examples'>ПРИМЕРЫ СОВМЕЩЁННЫХ ИГР</h1>
    <div class='row video_4 mt-3'>
    <div class='col-12 col-sm-6 col-md-3 video-col'>
        <video src="/media/video/2-v-1-busido_WynZ3rG0.mp4" class='video_list' controls preload="auto" muted></video>
        </div>
    <div class='col-12 col-sm-6 col-md-3 video-col'>
        <video src="/media/video/2-v-1-magnity_PEoqjsJO.mp4" class='video_list' controls preload="auto" muted></video>
        </div>
    <div class='col-12 col-sm-6 col-md-3 video-col'>
        <video src="/media/video/2-v-1-busido_WynZ3rG0.mp4" class='video_list' controls preload="auto" muted></video>
        </div>
    <div class='col-12 col-sm-6 col-md-3 video-col'>
        <video src="/media/video/2-v-1-magnity_PEoqjsJO.mp4" class='video_list' controls preload="auto" muted></video>
        </div>
    </div>
</div>
<div class='container mt-5'>
    <div class='row mt-5'>
        <div class='col-12 col-md-6 mobile_2_1'>
            <div class='left_button'>
                <h1 class='h_button'>ВЫБЕРИ ИГРЫ</h1>
                <p class='p_button'>Выбери 2 любые игры и отправь заявку</p>
                <button class='button_1'><a href="{% url 'game_catalog' %}" class='button_1_1'>ПЕРЕЙТИ В КАТАЛОГ</a></button>
            </div>
        </div>
        <div class='col-12 col-md-6 mobile_2_1'>
            <div class='right_button'>
                <h1 class='h_button-2'>УЖЕ ВЫБРАЛ?</h1>
                <p class='p_button-2'>Отправь заявку, мы свяжемся с тобой в ближайшее время </p>
                <button onclick="openOrderModal()" class='button_2'>ЗАПОЛНИТЬ  ЗАЯВКУ</button>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
