@font-face {
  font-family: 'Mont';
  src: url('/static/css/fonts/mont/Mont-Thin.woff2') format('woff2'),
       url('/static/css/fonts/mont/Mont-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/static/css/fonts/mont/Mont-ThinItalic.woff2') format('woff2'),
       url('/static/css/fonts/mont/Mont-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url('/static/css/fonts/mont/Mont-ExtraLight.woff2') format('woff2'),
       url('/static/css/fonts/mont/Mont-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/static/css/fonts/mont/Mont-ExtraLightItalic.woff2') format('woff2'),
       url('/static/css/fonts/mont/Mont-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url('/static/css/fonts/mont/Mont-Light.woff2') format('woff2'),
       url('/static/css/fonts/mont/Mont-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/static/css/fonts/mont/Mont-LightItalic.woff2') format('woff2'),
       url('/static/css/fonts/mont/Mont-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url('/static/css/fonts/mont/Mont-Regular.woff2') format('woff2'),
       url('/static/css/fonts/mont/Mont-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/static/css/fonts/mont/Mont-RegularItalic.woff2') format('woff2'),
       url('/static/css/fonts/mont/Mont-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url('/static/css/fonts/mont/Mont-SemiBold.woff2') format('woff2'),
       url('/static/css/fonts/mont/Mont-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/static/css/fonts/mont/Mont-SemiBoldItalic.woff2') format('woff2'),
       url('/static/css/fonts/mont/Mont-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url('/static/css/fonts/mont/Mont-Bold.woff2') format('woff2'),
       url('/static/css/fonts/mont/Mont-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/static/css/fonts/mont/Mont-BoldItalic.woff2') format('woff2'),
       url('/static/css/fonts/mont/Mont-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url('/static/css/fonts/mont/Mont-Heavy.woff2') format('woff2'),
       url('/static/css/fonts/mont/Mont-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/static/css/fonts/mont/Mont-HeavyItalic.woff2') format('woff2'),
       url('/static/css/fonts/mont/Mont-HeavyItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url('/static/css/fonts/mont/Mont-Black.woff2') format('woff2'),
       url('/static/css/fonts/mont/Mont-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/static/css/fonts/mont/Mont-BlackItalic.woff2') format('woff2'),
       url('/static/css/fonts/mont/Mont-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/static/css/fonts/unbounded/Unbounded-Thin.woff2') format('woff2'),
       url('/static/css/fonts/unbounded/Unbounded-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/static/css/fonts/unbounded/Unbounded-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/static/css/fonts/unbounded/Unbounded-Light.woff2') format('woff2'),
       url('/static/css/fonts/unbounded/Unbounded-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/static/css/fonts/unbounded/Unbounded-Regular.woff2') format('woff2'),
       url('/static/css/fonts/unbounded/Unbounded-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/static/css/fonts/unbounded/Unbounded-Medium.woff2') format('woff2'),
       url('/static/css/fonts/unbounded/Unbounded-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/static/css/fonts/unbounded/Unbounded-Bold.woff2') format('woff2'),
       url('/static/css/fonts/unbounded/Unbounded-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/static/css/fonts/unbounded/Unbounded-Black.woff2') format('woff2'),
       url('/static/css/fonts/unbounded/Unbounded-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/static/css/fonts/unbounded/Unbounded-Blond.woff2') format('woff2'),
       url('/static/css/fonts/unbounded/Unbounded-Blond.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/static/css/fonts/unbounded/Unbounded-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}
